
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Purchased products</strong></p>

{% for productsModel in productsList %}
    <p>
        Code: {{ productsModel.code }}</br>
        Name: <a href="{{ url.to({0:'productsModel-detail/index', 'categories':productsModel.categories, 'subcategory':productsModel.subcategory, 'id':productsModel.id}) }}">{{ productsModel.name }}</a></br>
        <img src="{{ picturesHelper.getOneThumbnail(productsModel.images) }}"></br>
        Color: {{ array.map(productsModel.colors, 'id', 'color')[productsModel.colorToCart] }}<br>
        Size: {{ array.map(productsModel.sizes, 'id', 'size')[productsModel.sizeToCart] }}<br>
        Price: {{ (productsModel.price * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}</br>
        Quantity: {{ productsModel.quantity }}<br>
        Total price: {{ ((productsModel.price * app.shopUser.currency.exchange_rate) * productsModel.quantity) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}
    </p>
{% endfor %}

<p>Total products: {{ app.cart.getTotalProducts() }}, Total cost: {{ (app.cart.getTotalCost() * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}

<p><a href="{{ url.to({0:'shopping-cart/index'}) }}">Change cart</a></p>

{% set user = app.cart.user %}

<p><strong>Customer</strong></p>

<p>
    Email: {{user.emails.email }}<br>
    First Name: {{ user.name }}<br>
    Last Name: {{ user.surname }}<br>
    Phone: {{user.phones.phone }}
</p>

<p><strong>Delivery type</strong></p>

<p>
    {{ array.map(user.deliveries.allDeliveries, 'id', 'description')[user.deliveries.id] }}<br>
    Cost: {{ (array.map(user.deliveries.allDeliveries, 'id', 'price')[user.deliveries.id] * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}
</p>

<p><strong>Delivery address</strong></p>

<p>
    Country: {{user.address.country }}<br>
    City: {{user.address.city }}<br>
    Address: {{user.address.address }}<br>
    {% if user.address.postcode %}
        Postcode: {{user.address.postcode }}<br>
    {% endif %}
</p>

<p><strong>Payments</strong></p>

<p>
    {{ array.map(user.payments.allPayments, 'id', 'description')[user.payments.id] }}
</p

<p><a href="{{ url.to({0:'shopping-cart/address-contacts'}) }}">Change checkout</a></p>

<p><strong>Total cost including delivery: {{ ((app.cart.getTotalCost() + array.map(user.deliveries.allDeliveries, 'id', 'price')[user.deliveries.id]) * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}</strong></p>

<p><a href="{{ url.to({0:'shopping-cart/pay'}) }}">Pay</a></p>

<p>{% include '@app/views/parts/clean-cart-form.twig' %}</p>
