
{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

{{ use('yii/widgets/ActiveForm') }}

{% for product in app.cart.getProductsArray() %}<p></p>
    Code: {{ product.code }}</br>
    Name: <a href="{{ url.to({0:'product-detail/index', 'categories':product.categories, 'subcategory':product.subcategory, 'id':product.id}) }}">{{ product.name }}</a></br>
    {% set form = active_form_begin({'id':'cart-for-product-%s' | format(product.id), 'action':url.to({0:'shopping-cart/update-product'}), 'method':'POST'}) %}
        {{ form.field(product, 'id').hiddenInput().label(false) | raw }}
        {{ form.field(product, 'hash').hiddenInput().label(false) | raw }}
        {{ form.field(product, 'code').hiddenInput().label(false) | raw }}
        {{ form.field(product, 'name').hiddenInput().label(false) | raw }}
        {{ form.field(product, 'quantity') | raw }}
        {{ form.field(product, 'colorToCart').dropDownList(array.map(product.colors, 'id', 'color')) | raw }}
        {{ form.field(product, 'sizeToCart').dropDownList(array.map(product.sizes, 'id', 'size')) | raw }}
        {{ form.field(product, 'price').hiddenInput().label(false) | raw }}
        Price: {{ product.price | number_format(2, '.', ' ') }}</br>
        Total price: {{ (product.price * product.quantity) | number_format(2, '.', ' ') }}</br>
        <input type="submit" value="Update" />
    {{ active_form_end() }}
    {% set removeForm = active_form_begin({'id':'remove-product-%s' | format(product.id), 'action':url.to({0:'shopping-cart/remove-product'}), 'method':'POST'}) %}
        {{ removeForm.field(product, 'id').hiddenInput().label(false) | raw }}
        {{ removeForm.field(product, 'hash').hiddenInput().label(false) | raw }}
        <input type="submit" value="Remove" />
    {{ active_form_end() }}
{% endfor %}

<p>Total products: {{ app.cart.getTotalProducts() }}, Total cost: {{ app.cart.getTotalCost() | number_format(2, '.', ' ') }} 

<p>{% include '@app/views/parts/clean-cart-form.twig' %}</p>

<p><a href="{{ url.to({0:'shopping-cart/address-contacts'}) }}">Checkout</a></p>
