
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете управлять товарными категориями</p>

<p><strong>Удалить категорию</strong></p>

{{ use('yii/widgets/ActiveForm') }}

{% set form=active_form_begin({'id':'delete-categories-form', 'action':url.to({0:'admin/delete-categories'}), 'method':'POST'}) %}
    {{ form.field(categoriesModel, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(categoriesModel, 'name') | raw }}
    {{ form.field(categoriesModel, 'seocode') | raw }}
    <input type="submit" value="Удалить">
{{ active_form_end() }}





