
{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('yii/widgets/ActiveForm') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете управлять брендами</p>

<p><strong>Удалить бренд</strong></p>

{% set form=active_form_begin({'id':'delete-brands-form', 'action':url.to({0:'admin/delete-brands', 'id':brandsModel.id}), 'method':'POST'}) %}
    {{ form.field(brandsModel, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(brandsModel, 'brand') | raw }}
    <input type="submit" value="Удалить">
{{ active_form_end() }}





