
<p><strong>Comments Filter</strong></p>

{{ use('yii/widgets/ActiveForm') }}

{% set form=active_form_begin({'id':'add-filters-admin-comments-form', 'action':url.to({0:'filter/add-filters-admin-comments'}), 'method':'POST'}) %}
    {{ form.field(filtersModel, 'getActive').checkbox() | raw }}
    {{ form.field(filtersModel, 'getNotActive').checkbox() | raw }}
    <input type="submit" value="Apply" />
{{ active_form_end() }}

{% set form=active_form_begin({'id':'clean-filters-admin-comments-form', 'action':url.to({0:'filter/clean-filters-admin-comments'}), 'method':'POST'}) %}
    <input type="submit" value="Clean" />
{{ active_form_end() }}

