
<p><strong>Choose category</strong></p>

{{ use('yii/widgets/ActiveForm') }}

{% set form=active_form_begin({'id':'add-filters-admin-categories-form', 'action':url.to({0:'filter/add-filters-admin-categories'}), 'method':'POST'}) %}
    {{ form.field(productsModelFilter, 'id_categories').dropDownList(array.merge({'':'------------------------'}, array.map(categoriesList, 'id', 'name'))) | raw }}
    {{ form.field(productsModelFilter, 'id_subcategory').dropDownList(array.merge({'':'------------------------'}, subcategoryHelper.getSubcategory(productsModelFilter.id_categories | default(null)))) | raw }}
    <input type="submit" value="Choose" /><br>
{{ active_form_end() }}

{% set form=active_form_begin({'id':'clean-filters-admin-categories-form', 'action':url.to({0:'filter/clean-filters-admin-categories'}), 'method':'POST'}) %}
    <input type="submit" value="Clean"/>
{{ active_form_end() }}

<p><strong>Filters</strong></p>

{% set form=active_form_begin({'id':'add-filters-admin-form', 'action':url.to({0:'filter/add-filters-admin'}), 'method':'POST'}) %}
    {{ form.field(filtersModel, 'categories').hiddenInput({'value':app.filters.categories}).label(false) | raw }}
    {{ form.field(filtersModel, 'subcategory').hiddenInput({'value':app.filters.subcategory}).label(false) | raw }}
    
    {{ form.field(filtersModel, 'sortingField').dropDownList({'':'По дате добавления', 'price':'По цене'}) | raw }}
    {{ form.field(filtersModel, 'sortingType').dropDownList({'DESC':'По убыванию', 'ASC':'По возростанию'}) | raw }}
    {{ form.field(filtersModel, 'colors').checkboxList(array.map(colorsList, 'id', 'color')) | raw }}
    {{ form.field(filtersModel, 'sizes').checkboxList(array.map(sizesList, 'id', 'size')) | raw }}
    {{ form.field(filtersModel, 'brands').checkboxList(array.map(brandsList, 'id', 'brand')) | raw }}
    
    {{ form.field(filtersModel, 'getActive').checkbox() | raw }}
    {{ form.field(filtersModel, 'getNotActive').checkbox() | raw }}
    
    <input type="submit" value="Apply" />
{{ active_form_end() }}

{% set form=active_form_begin({'id':'clean-filters-admin-form', 'action':url.to({0:'filter/clean-filters-admin'}), 'method':'POST'}) %}
    <input type="submit" value="Clean" />
{{ active_form_end() }}
