
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

{{ use('yii/widgets/ActiveForm') }}

<p>Здесь вы можете управлять товарными категориями</p>

{% if categoriesList %}
    <p><strong>Текущие категории</strong></p>
    <ul>
        {% for categories in categoriesList %}
            <li>
                {{ categories.name }}<br>
                <a href="{{ url.to({0:'admin/update-categories', 'id':categories.id}) }}">Обновить категорию</a><br>
                <a href="{{ url.to({0:'admin/delete-categories', 'id':categories.id}) }}">Удалить категорию</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% include '@app/views/parts/add-categories-form.twig' %}





