
{{ register_asset_bundle('app/assets/GetSubcategoryWithDisableAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете отслеживать и редактировать товары магазина.</p>

<p><a href="{{ url.to({0:'product-detail/index', 'categories':productsModel.categories, 'subcategory':productsModel.subcategory, 'id':productsModel.id}) }}">Страница товара</a></p>

{{ use('yii/widgets/ActiveForm') }}

    <p>
    {% set form=active_form_begin({'id':'change-product-%s' | format(productsModel.id), 'action':url.to({0:'admin/update-product'}), 'method':'POST'}) %}
        {{ form.field(productsModel, 'id').hiddenInput().label(false) | raw }}
        {{ form.field(productsModel, 'date').input('date', {'value':app.formatter.asDate(productsModel.date)}) | raw }}
        {{ form.field(productsModel, 'code') | raw }}
        {{ form.field(productsModel, 'name') | raw }}
        {{ form.field(productsModel, 'short_description').textarea({'cols':40, 'rows':5}) | raw }}
        {{ form.field(productsModel, 'description').textarea({'cols':40, 'rows':5}) | raw }}
        {{ form.field(productsModel, 'price').input('number', {'step':'any'}) | raw }}
        {% if productsModel.images %}
            {% for picturePath in picturesHelper.getAllThumbnails(productsModel.images) %}
                <img src="{{ picturePath }}" width="{{ app.params.adminWidth }}">
            {% endfor %}
            <br>
        {% endif %}
        {{ form.field(productsModel, 'imagesToLoad[]').fileInput({'accept':'image/*', 'multiple':true}) | raw }}
        {{ form.field(productsModel, 'id_categories').dropDownList(array.merge({'':'------------------------'}, array.map(categoriesList, 'id', 'name'))) | raw }}
        {{ form.field(productsModel, 'id_subcategory').dropDownList(array.merge({'':'------------------------'}, subcategoryHelper.getSubcategory(productsModel.id_categories))) | raw }}
        
        {{ form.field(brandsModel, 'id').dropDownList(array.merge({'':'------------------------'}, array.map(brandsList, 'id', 'brand'))).label('Brand') | raw }}
        {{ form.field(colorsModel, 'idArray').checkboxList(array.map(colorsList, 'id', 'color'), {'multiple':true}).label('Colors') | raw }}
        {{ form.field(sizesModel, 'idArray').checkboxList(array.map(sizesList, 'id', 'size'), {'multiple':true}).label('Sizes') | raw }}
        
        {{ form.field(productsModel, 'total_products') | raw }}
        {{ form.field(productsModel, 'active').checkbox() | raw }}
        <input type="submit" value="Обновить">
    {{ active_form_end() }}
    </p>
