
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

{{ use('yii/widgets/ActiveForm') }}

<p>Здесь вы можете отслеживать и редактировать комментарии к товарам.</p>

{% if commentsList %}
    
    <hr/>
    
    {% for commentsModel in commentsList %}
        <div>
            Товар: <a href="{{ url.to({0:'product-detail/index', 'categories':commentsModel.products.categories, 'subcategory':commentsModel.products.subcategory, 'id':commentsModel.products.id}) }}">{{ commentsModel.products.name }}</a><br>
            Текст: {{ commentsModel.text }}<br>
            Автор: {{ commentsModel.name }}<br>
            Email автора: {{ commentsModel.emails.email }}<br>
            Дата: {{ app.formatter.asDate(commentsModel.date) }}<br>
            <a href="{{ url.to({0:'admin/update-comments', 'id':commentsModel.id}) }}">Редактировать комментарий</a>
        </div>
        
        {% set form=active_form_begin({'id':'update-comments-cut-form-%s' | format(commentsModel.id), 'action':url.to({0:'admin/update-comments-cut'}), 'method':'POST'}) %}
            {{ form.field(commentsModel, 'id').hiddenInput().label(false) | raw }}<br>
            {{ form.field(commentsModel, 'active').checkbox() | raw }}
            <input type="submit" value="Обновить">
        {{ active_form_end() }}
        
        <hr/>
    {% endfor %}
{% else %}
    <p>Похоже, пока нет ни одного комментария!</p>
{% endif %}

{% include '@app/views/admin/filters-comment.twig' %}

