
{{ register_asset_bundle('app/assets/AddProductsAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете отслеживать и редактировать товары магазина.</p>

{{ use('yii/widgets/ActiveForm') }}

{% for product in objectsProductsList %}
    
    <p>
    {% set form=active_form_begin({'id':'change-product-%s' | format(product.id), 'action':url.to({0:'admin/update-product-cut'}), 'method':'POST'}) %}
        {{ form.field(product, 'id').hiddenInput().label(false) | raw }}<br>
        Название: <a href="{{ url.to({0:'product-detail/index', 'categories':product.categories, 'subcategory':product.subcategory, 'id':product.id}) }}">{{ product.name }}</a><br>
        Дата добавления: {{ app.formatter.asDate(product.date, 'yyyy-MM-dd') }}<br>
        Код: {{ product.code }}<br>
        Описание: {{ product.short_description }}<br>
        Price: {{ (product.price * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}<br>
        Category: {{ product.categoriesObject.name }}<br>
        Subcategory: {{ product.subcategoryObject.name }}<br>
        Brand: {{ product.brands.brand }}<br>
        Sizes: {{ array.getColumn(product.sizes, 'size') | join(', ') }}<br>
        Colors: {{ array.getColumn(product.colors, 'color') | join(', ') }}<br>
        На складе: {{ product.total_products }}
        {{ form.field(product, 'active').checkbox() | raw }}
        <a href="{{ url.to({0:'admin/show-product-detail', 'id':product.id}) }}">Редактировать детали</a><br>
        <input type="submit" value="Обновить">
    {{ active_form_end() }}
    </p>
    
    <hr>
    
{% endfor %}


{% include '@app/views/parts/filters-admin.twig' %}

