
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

{{ use('yii/widgets/ActiveForm') }}

<p>Здесь вы можете управлять валютами</p>

{% if currencyList %}
    <p><strong>Текущие валюты</strong></p>
    <ul>
        {% for currencyModel in currencyList %}
            <li>
                {{ currencyModel.currency }}<br>
                {{ currencyModel.exchange_rate }}<br>
                {% if currencyModel.main %}Основная по умолчанию<br>{% endif %}
                <a href="{{ url.to({0:'admin/update-currency', 'id':currencyModel.id}) }}">Обновить валюту</a><br>
                {% set form=active_form_begin({'id':'delete-currency-form', 'action':url.to({0:'admin/delete-currency'}), 'method':'POST'}) %}
                    {{ form.field(currencyModel, 'id').hiddenInput().label(false) | raw }}
                    <input type="submit" value="Удалить"/>
                {{ active_form_end() }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% include '@app/views/admin/add-currency-form.twig' %}





