
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

{{ use('yii/widgets/ActiveForm') }}

<p>Здесь вы можете управлять товарными подкатегориями</p>

{% if subcategoryList %}
    <p><strong>Текущие подкатегории</strong></p>
    <ul>
        {% for subcategory in subcategoryList %}
            <li>
                {{ subcategory.name }} ({{ subcategory.categories.name }})<br>
                <a href="{{ url.to({0:'admin/update-subcategory', 'id':subcategory.id}) }}">Обновить подкатегорию</a><br>
                <a href="{{ url.to({0:'admin/delete-subcategory', 'id':subcategory.id}) }}">Удалить подкатегорию</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Похоже, мы пока не можем предложить эту штуку!</p>
{% endif %}

{% include '@app/views/parts/filters-admin-subcategory.twig' %}

{% include '@app/views/parts/add-subcategory-form.twig' %}





