
{{ register_asset_bundle('app/assets/GetSubcategoryAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете отслеживать и редактировать товары магазина.</p>

{{ use('yii/widgets/ActiveForm') }}

{% if productsList %}
    
    <hr/>
    
    {% for productsModel in productsList %}
        
        <div>
            Название: <a href="{{ url.to({0:'product-detail/index', 'categories':productsModel.categories, 'subcategory':productsModel.subcategory, 'id':productsModel.id}) }}">{{ productsModel.name }}</a><br>
            Дата добавления: {{ app.formatter.asDate(productsModel.date) }}<br>
            Код: {{ productsModel.code }}<br>
            Описание: {{ productsModel.short_description }}<br>
            Price: {{ (productsModel.price * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}<br>
            Category: {{ productsModel.categoriesObject.name }}<br>
            Subcategory: {{ productsModel.subcategoryObject.name }}<br>
            Brand: {{ productsModel.brands.brand }}<br>
            Sizes: {{ array.getColumn(productsModel.sizes, 'size') | join(', ') }}<br>
            Colors: {{ array.getColumn(productsModel.colors, 'color') | join(', ') }}<br>
            На складе: {{ productsModel.total_products }}<br>
            <a href="{{ url.to({0:'admin/show-product-detail', 'id':productsModel.id}) }}">Редактировать детали</a>
        </div>
        
        {% set form=active_form_begin({'id':'update-product-cut-%s' | format(productsModel.id), 'action':url.to({0:'admin/update-product-cut'}), 'method':'POST'}) %}
            {{ form.field(productsModel, 'id').hiddenInput().label(false) | raw }}<br>
            {{ form.field(productsModel, 'active').checkbox() | raw }}
            <input type="submit" value="Обновить">
        {{ active_form_end() }}
        
        {% set form=active_form_begin({'id':'delete-product-form-%s' | format(productsModel.id), 'action':url.to({0:'admin/delete-product'}), 'method':'POST'}) %}
            {{ form.field(productsModel, 'id').hiddenInput().label(false) | raw }}<br>
            {{ form.field(productsModel, 'images').hiddenInput().label(false) | raw }}<br>
            <input type="submit" value="Удалить">
        {{ active_form_end() }}
        
        <hr>
        
    {% endfor %}
{% else %}
    <p>Похоже, мы пока не можем предложить эту штуку!</p>
{% endif %}


{% include '@app/views/admin/filters-admin.twig' %}

