
{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('yii/widgets/ActiveForm') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете управлять цветами</p>

<p><strong>Обновить цвет</strong></p>

{% set form=active_form_begin({'id':'update-colors-form', 'action':url.to({0:'admin/update-colors', 'id':colorsModel.id}), 'method':'POST'}) %}
    {{ form.field(colorsModel, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(colorsModel, 'color') | raw }}
    <input type="submit" value="Обновить">
{{ active_form_end() }}





