
{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('yii/widgets/ActiveForm') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете управлять размерами</p>

<p><strong>Обновить размер</strong></p>

{% set form=active_form_begin({'id':'update-sizes-form', 'action':url.to({0:'admin/update-sizes', 'id':sizesModel.id}), 'method':'POST'}) %}
    {{ form.field(sizesModel, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(sizesModel, 'size').input('number', {'step':'any'}) | raw }}
    <input type="submit" value="Обновить">
{{ active_form_end() }}





