
{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('yii/widgets/ActiveForm') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/admin-menu.twig' %}

<p>Здесь вы можете управлять валютами</p>

<p><strong>Обновить валюту</strong></p>

{% set form=active_form_begin({'id':'update-currency-form', 'action':url.to({0:'admin/update-currency', 'id':currencyModelForUpdate.id}), 'method':'POST'}) %}
    {{ form.field(currencyForUpdateModel, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(currencyForUpdateModel, 'currency') | raw }}
    {{ form.field(currencyForUpdateModel, 'exchange_rate').input('number', {'step':'0.00001'}) | raw }}
    {{ form.field(currencyForUpdateModel, 'main').checkbox() | raw }}
    <input type="submit" value="Обновить">
{{ active_form_end() }}





