{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('yii/widgets/ActiveForm') }}
{{ use('app/widgets/CartWidget') }}

{% include('@theme/base/user-info.twig') %}

{{ cart_widget_widget() }}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

<p><strong>{{ yii.t('base', 'Subscribe') }}</strong></p>

{% if sentMail %}
    {{ yii.t('base', 'You successfully subscribed to mailings:') }}
    <ol>
        {% for subscribe in sentMail %}
            <li>{{ subscribe.name }}</li>
        {% endfor %}
    </ol>
{% elseif currentSubscribes %}
    <p>{{ yii.t('base', 'You are already subscribed to the mailing list:') }}</p>
    <ol>
        {% for subscribe in currentSubscribes %}
            <li>{{ subscribe.name }}</li>
        {% endfor %}
    </ol>
{% else %}
    {% set form=active_form_begin({'id':'add-subscriber-form', 'action':url.to({0:'/mailing/index'}), 'method':'POST'}) %}
        {{ form.field(emailsModel, 'email') | raw }}
        {{ form.field(mailingListModel, 'id').checkboxList(mailingList) | raw }}
        <input type="submit" value="{{ yii.t('base', 'Subscribe') }}">
    {{ active_form_end() }}
{% endif %}

<p>
    <a href="{{ url.to({0:'mailing/index'}) }}">{{ yii.t('base', 'Subscribe') }}</a>
</p>
