
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %} 

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<h1>{{ productsObject.name }}</h1>

<p>{{ productsObject.code }}</p>
<p>{{ productsObject.description }}</p>
<p>{{ (productsObject.price * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}</p>

{% include '@app/views/parts/product-detail-colors.twig' %}

{% include '@app/views/parts/product-detail-sizes.twig' %}

{% include '@app/views/parts/add-to-cart-form.twig' %}

{% if productsObject.similar %}
    {% include '@app/views/parts/similar-products.twig' %}
{% endif %}

{% if productsObject.related %}
    {% include '@app/views/parts/related-products.twig' %}
{% endif %}

{% include '@app/views/parts/currency.twig' %}

{% include '@app/views/parts/add-comment-form.twig' %}

{% if productsObject.comments %}
    {% include '@app/views/parts/comments.twig' %}
{% endif %}
