
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %} 

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

{{ use('app/widgets/BreadcrumbsWidget') }}

{{ breadcrumbs_widget_widget({'categoriesList':categoriesList, 'productName':objectsProducts.name}) }}

<h1>{{ objectsProducts.name }}</h1>
{% if objectsProducts.images %}
    {% for picturePath in picturesHelper.getPathImages('@pic', objectsProducts.images).fullpath %}
        <img src="{{ picturePath }}">
    {% endfor %}
    <br>
{% endif %}
<p>{{ objectsProducts.code }}</p>
<p>{{ objectsProducts.description | raw }}</p>
<p>{{ (objectsProducts.price * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}</p>

{% include '@app/views/parts/product-detail-colors.twig' %}

{% include '@app/views/parts/product-detail-sizes.twig' %}

{% include '@app/views/parts/add-to-cart-form.twig' %}

{% if objectsProducts.similar %}
    {% include '@app/views/parts/similar-products.twig' %}
{% endif %}

{% if objectsProducts.related %}
    {% include '@app/views/parts/related-products.twig' %}
{% endif %}

{% include '@app/views/parts/currency.twig' %}

{% include '@app/views/parts/add-comment-form.twig' %}

{% if objectsProducts.comments %}
    {% include '@app/views/parts/comments.twig' %}
{% endif %}
