
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %} 

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

{{ use('app/widgets/BreadcrumbsWidget') }}

{{ breadcrumbs_widget_widget({'categoriesList':categoriesList, 'productName':productsModel.name}) }}

<h1>{{ productsModel.name }}</h1>
{% if productsModel.images %}
    {% for picturePath in picturesHelper.getFullPaths(productsModel.images) %}
        <img src="{{ picturePath }}">
    {% endfor %}
    <br>
{% endif %}
<p>{{ productsModel.code }}</p>
<p>{{ productsModel.description | raw }}</p>
<p>{{ (productsModel.price * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}</p>

{% include '@app/views/parts/product-detail-colors.twig' %}

{% include '@app/views/parts/product-detail-sizes.twig' %}

{% include '@app/views/parts/add-to-cart-form.twig' %}

{% if productsModel.similar %}
    {% include '@app/views/parts/similar-products.twig' %}
{% endif %}

{% if productsModel.related %}
    {% include '@app/views/parts/related-products.twig' %}
{% endif %}

{% include '@app/views/parts/currency.twig' %}

{% if productsModel.comments and productsModel.comments[0].active%}
    {% include '@app/views/product-detail/comments.twig' %}
{% endif %}

{% include '@app/views/parts/add-comment-form.twig' %}
