{% extends '@theme/templates/base.twig' %}

{% block content %}
    
    {{ register_asset_bundle('app/assets/AdminColorsAsset') }}
    
    {{ use ('app/widgets/AdminColorsBreadcrumbsWidget') }}
    {{ use ('app/widgets/AdminColorsWidget') }}
    {{ use ('app/widgets/AdminCreateColorWidget') }}
    
    {{ include('@theme/common/admin-common.twig') }}
    
    {{ admin_colors_breadcrumbs_widget_widget() }}
    
    <div class="admin-colors">
        {{ admin_colors_widget_widget(adminColorsWidgetConfig) }}
    </div>
    
    {{ admin_create_color_widget_widget(adminCreateColorWidgetConfig) }}
    
{% endblock content %}
