
<h1>Привет! Это информация о вашем заказе!</h2>

<p>Вы можете отслеживать его в <a href="{{ url.to({0:'users/login-user'}, true) }}">вашем персональном кабинете</a>.</p>
{% if app.cart.user.id_emails and app.cart.user.rawPassword %}
    <p>Ваши логин и пароль:
        <br>логин: {{ app.cart.user.emails.email }}
        <br>пароль: {{ app.cart.user.rawPassword }}
    </p>
{% endif %}

{% set products = app.cart.getProductsArray() %}

{% set user = app.cart.user %}

<p><strong>Purchased products</strong></p>

{% for product in products %}
    <p>
        Code: {{ product.code }}</br>
        Name: <a href="{{ url.to({0:'product-detail/index', 'categories':product.categories, 'subcategory':product.subcategory, 'id':product.id}, true) }}">{{ product.name }}</a></br>
        Color: {{ array.map(product.colors, 'id', 'color')[product.colorToCart] }}<br>
        Size: {{ array.map(product.sizes, 'id', 'size')[product.sizeToCart] }}<br>
        Price: {{ (product.price * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}</br>
        Quantity: {{ product.quantity }}<br>
        Total price: {{ ((product.price * app.user.currency.exchange_rate) * product.quantity) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}
    </p>
{% endfor %}

<p><strong>Customer</strong></p>

<p>
    First Name: {{ user.name }}<br>
    Last Name: {{ user.surname }}<br>
    Email: {{user.emails.email }}<br>
    Phone: {{user.phones.phone }}
</p>

<p><strong>Delivery type</strong></p>

<p>
    {{ array.map(user.deliveries.allDeliveries, 'id', 'name')[user.deliveries.id] }}<br>
    {{ array.map(user.deliveries.allDeliveries, 'id', 'description')[user.deliveries.id] }}<br>
    Cost: {{ (array.map(user.deliveries.allDeliveries, 'id', 'price')[user.deliveries.id] * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}
</p>

<p><strong>Delivery address</strong></p>

<p>
    Country: {{ user.address.country }}<br>
    City: {{ user.address.city }}<br>
    Address: {{ user.address.address }}<br>
    {% if user.address.postcode %}
        Postcode: {{ user.address.postcode }}<br>
    {% endif %}
</p>

<p><strong>Payments</strong></p>

<p>
    {{ array.map(user.payments.allPayments, 'id', 'name')[user.payments.id] }}<br>
    {{ array.map(user.payments.allPayments, 'id', 'description')[user.payments.id] }}
</p

<p><strong>Total cost including delivery: {{ ((app.cart.getTotalCost() + array.map(user.deliveries.allDeliveries, 'id', 'price')[user.deliveries.id]) * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}</strong></p>
