
{{ register_asset_bundle('app/assets/AddProductsAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/menu.twig' %}

{% if app.request.get('notexists') %}
    <p>Никаких следов пользователя {{ app.request.get('notexists') }}! Но вы можете это исправить прямо сейчас! Если уверены, что с логином и паролем все в порядке, пишите в техподдержку, вам незамедлительно помогут!</p>
{% endif %}

<p><strong>Add product</strong></p>

{{ use('yii/widgets/ActiveForm') }}

{% set form=active_form_begin({'action':'', 'method':'POST', 'options':{'id':'add-product-form', 'enctype':'multipart/form-data'}}) %}
    {{ form.field(productsModelForAddProduct, 'code') | raw }}
    {{ form.field(productsModelForAddProduct, 'name') | raw }}
    {{ form.field(productsModelForAddProduct, 'description').textarea() | raw }}
    {{ form.field(productsModelForAddProduct, 'price').input('number', {'step':'any'}) | raw }}
    {{ form.field(brandsModelForAddToCart, 'id').dropDownList(array.merge({'':'Choose brand'}, array.map(brandsList, 'id', 'brand'))) | raw }}
    {{ form.field(colorsModelForAddToCart, 'idArray').dropDownList(array.map(colorsList, 'id', 'color'), {'multiple':true}) | raw }}
    {{ form.field(sizesModelForAddToCart, 'idArray').dropDownList(array.map(sizesList, 'id', 'size'), {'multiple':true}) | raw }}
    {{ form.field(productsModelForAddProduct, 'imagesToLoad[]').fileInput({'accept':'image/*', 'multiple':true}) | raw }}
    {{ form.field(productsModelForAddProduct, 'id_categories').dropDownList(array.merge({'':'Choose categoy'}, array.map(categoriesList, 'id', 'name'))) | raw }}
    {{ form.field(productsModelForAddProduct, 'id_subcategory').dropDownList({'':'Choose subcategory'}) | raw }}
    <input type="submit" value="Add product" >
{{ active_form_end() }}
