{{ this.beginPage() }}
<!DOCTYPE html>
<html lang="{{ app.language }}">
    
    <head>
        <meta charset="{{ app.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ html.csrfMetaTags() | raw }}
        {{ this.head() }}
        <title>{{ title | default('Shop') }}</title>
    </head>
    
    {{ this.beginBody() }}
    <body>
            <header id="header">{% block header %}{% endblock %}</header>
            
            <div id="content">
                <div id="sidebar"></div>
                <main id="main">{% block main %}{% endblock %}</main>
            </div>
            
            <footer id="footer">{% block footer %}{% endblock %}</footer>
    </body>
    {{ this.endBody() }}
    
</html>
{{ this.endPage() }}
