{{ register_asset_bundle('app/assets/CartItemsAsset') }}

{{ use('app/widgets/CartBreadcrumbsWidget') }}
{{ use('app/widgets/CartWidget') }}

{{ include('@theme/common/frontend-cart-common.twig') }}

{{ cart_breadcrumbs_widget_widget() }}

<div class="cart-items">
    {{ cart_widget_widget(cartWidgetConfig) }}
</div>

{{ short_cart_redirect_widget_widget(shortCartRedirectWidgetConfig) }}
