{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('app/widgets/PriceWidget') }}
{{ use('app/widgets/TotalPriceWidget') }}
{{ use('app/widgets/ThumbnailsWidget') }}
{{ use('yii/widgets/ActiveForm') }}
{{ use('app/widgets/CartWidget') }}

{% include('@theme/base/user-info.twig') %}

{{ cart_widget_widget({'toCart':false}) }}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

{% if purchasesList %}
    {% for hash, purchase in purchasesList %}
        <p>
            <a href="{{ url.to({0:'/product-detail/index', 'product':purchase.product.seocode}) }}">{{ purchase.product.name }}</a>
            {% if purchase.product.short_description %}
                <br>{{ purchase.product.short_description }}
            {% endif %}
            <br>{{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':purchase.product.price}) }}
            {% if purchase.product.images %}
                <br>{{ thumbnails_widget_widget({'path':purchase.product.images}) }}
            {% endif %}
            
            {% set form=active_form_begin({'id':'cart-update-form-%d' | format(purchase.id_product), 'action':url.to({0:'/cart/update'}), 'method':'POST'}) %}
                {{ form.field(purchase, 'quantity').input('number', {'step':1, 'min':1}) | raw }}
                {{ form.field(purchase, 'id_color').dropDownList(array.map(purchase.product.colors, 'id', 'color')) | raw }}
                {{ form.field(purchase, 'id_size').dropDownList(array.map(purchase.product.sizes, 'id', 'size')) | raw }}
                {{ form.field(purchase, 'id_product').hiddenInput({'value':purchase.id_product}).label(false) | raw }}
                <input type="hidden" name="hash" value="{{ hash }}">
                <input type="submit" value="{{ yii.t('base', 'Update') }}">
            {{ active_form_end() }}
            
            {% set form=active_form_begin({'id':'cart-delete-form-%d' | format(purchase.id_product), 'action':url.to({0:'/cart/delete'}), 'method':'POST'}) %}
                <input type="hidden" name="hash" value="{{ hash }}">
                <input type="submit" value="{{ yii.t('base', 'Delete') }}">
            {{ active_form_end() }}
            <p>{{ yii.t('base', 'Total price:') }} {{ total_price_widget_widget({'price':purchase.product.price, 'quantity':purchase.quantity}) }}</p>
            <hr>
        </p>
    {% endfor %}
{% endif %}

<p>
    <form name="checkout-form" action="{{ url.to({0:'/cart/customer'}) }}" method="get">
        <input type="submit" value="{{ yii.t('base', 'Checkout') }}">
    </form>
</p>

{{ cart_widget_widget({'toCart':false}) }}

<p>
    {% include('@theme/base/currency-form.twig') %}
</p>
