{% extends '@theme/templates/base-frontend.twig' %}

{% block main %}
    
    {{ register_asset_bundle('app/assets/CartAsset') }}
    
    {{ use('app/widgets/CartBreadcrumbsWidget') }}
    {{ use('app/widgets/CartWidget') }}
    {{ use('app/widgets/CartCheckoutLinkWidget') }}
    
    <!--{{ cart_breadcrumbs_widget_widget() }}-->
    
    <div class="cart-items">
        {{ cart_widget_widget(cartWidgetConfig) }}
    </div>
    
    <div class="cart-checkout">
        {{ cart_checkout_link_widget_widget(cartCheckoutLinkWidgetConfig) }}
    </div>
    
{% endblock %}
