{{ register_asset_bundle('app/assets/AddCustomerAsset') }}

{{ use('app/widgets/ThumbnailsWidget') }}
{{ use('yii/widgets/ActiveForm') }}
{{ use('app/widgets/CartWidget') }}
{{ use('app/widgets/PriceWidget') }}
{{ use('app/widgets/TotalPriceWidget') }}

{% include('@theme/base/user-info.twig') %}

{{ cart_widget_widget() }}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

<p><strong>{{ yii.t('base', 'Purchases') }}</strong></p>

{% for purchase in purchasesList %}
    <p>
        <a href="{{ url.to({0:'/product-detail/index', 'product':purchase.product.seocode}) }}">{{ purchase.product.name }}</a>
        {% if purchase.product.short_description %}
            <br>{{ purchase.product.short_description }}
        {% endif %}
        <br>{{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':purchase.product.price}) }}
        {% if purchase.product.images %}
            <br>{{ thumbnails_widget_widget({'path':purchase.product.images}) }}
        {% endif %}
        <br>{{ yii.t('base', 'Quantity:') }} {{ purchase.purchase.quantity }}
        <br>{{ yii.t('base', 'Color:') }} {{ purchase.color.color }}
        <br>{{ yii.t('base', 'Size:') }} {{ purchase.size.size }}
        <br>{{ yii.t('base', 'Total price:') }} {{ total_price_widget_widget({'price':purchase.product.price, 'quantity':purchase.purchase.quantity}) }}
    </p>
{% endfor %}

<p><strong>{{ yii.t('base', 'Customer Information') }}</strong></p>

<p>
    {{ yii.t('base', 'Name:') }} {{ customerArray.names.name }}
    <br>{{ yii.t('base', 'Surname:') }} {{ customerArray.surnames.surname }}
    <br>{{ yii.t('base', 'Email:') }} {{ customerArray.emails.email}}
    <br>{{ yii.t('base', 'Phone:') }} {{ customerArray.phones.phone }}
</p>

<p><strong>{{ yii.t('base', 'Delivery Information') }}</strong></p>

<p>
    {{ deliveriesModel.name }}. {{ deliveriesModel.description }}
    <br>{{ yii.t('base', 'Address:') }} {{ customerArray.address.address }}
    <br>{{ yii.t('base', 'City:') }} {{ customerArray.cities.city }}
    <br>{{ yii.t('base', 'Country:') }} {{ customerArray.countries.country }}
    <br>{{ yii.t('base', 'Postcode:') }} {{ customerArray.postcodes.postcode }}
    <br>{{ yii.t('base', 'Delivery price:') }} {{ price_widget_widget({'price':deliveriesModel.price}) }}
</p>

<p><strong>{{ yii.t('base', 'Payments Information') }}</strong></p>

<p>
    {{ paymentsModel.name }}
    <br>{{ paymentsModel.description }}
</p>

<p>
    <form name="checkout-form" action="{{ url.to({0:'/cart/customer'}) }}" method="GET">
        <input type="submit" value="{{ yii.t('base', 'Change data') }}">
    </form>
</p>

<hr>

<p>
    {% set form=active_form_begin({'id':'send-order-form', 'action':url.to({0:'/cart/send'}), 'method':'POST'}) %}
        <input type="submit" value="{{ yii.t('base', 'Send order') }}">
    {{ active_form_end() }}
</p>

<p>
    {% include('@theme/base/currency-form.twig') %}
</p>
