{{ register_asset_bundle('app/assets/MailingsUnsubscribeAsset') }}

{{ use('app/widgets/MailingsBreadcrumbsWidget') }}
{{ use('app/widgets/UnsubscribeEmptyWidget') }}
{{ use('app/widgets/UnsubscribeFormWidget') }}

{{ include('@theme/common/frontend-common.twig') }}

{{ mailings_breadcrumbs_widget_widget() }}

<div class="unsubscribe">
    {% if mailingsUnsubscribeEmptyWidgetConfig %}
        {{ unsubscribe_empty_widget_widget(mailingsUnsubscribeEmptyWidgetConfig) }}
    {% else %}
    {{ unsubscribe_form_widget_widget(unsubscribeFormWidgetConfig) }}
    {% endif %}
</div>

{{ include('@theme/common/frontend-bottom-common.twig') }}
