
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Subscribe</strong></p>

{% if currentSubscriptions %}
    <p>Рассылки, на которые вы уже подписаны:</p>
    <ul>
        {% for object in currentSubscriptions %}
            <li>{{ object.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if futureSubscriptions %}
    <p>Доступные рассылки:</p>

    {{ use('yii/widgets/ActiveForm') }}
    
    {% set form = active_form_begin({'id': 'subscribe-ok-form', 'action': url.to({0:'newsletter/subscribe-ok'}), method: 'POST'}) %}
        {{ form.field(emailsModel, 'email') | raw }}
        {{ form.field(mailingListModel, 'idFromForm').checkboxList(array.map(futureSubscriptions, 'id', 'name'), {'multiple':true}).label(false) | raw }}
        <input type="submit" value="Subscribe" />
    {{ active_form_end() }}
{% endif %}

{% if app.shopUser.id_emails and app.shopUser.id and currentSubscriptions %}
    <p>Если вы решили отписаться, выберите рассылку, которую вы хотите исключить и нажмите Отписаться.</p>
    {{ use('yii/widgets/ActiveForm') }}
    
    {% set form=active_form_begin({'id':'unsubscribe-form', 'action':url.to({0:'newsletter/unsubscribe-ok'}), 'method':'POST'}) %}
        {{ form.field(emailsModel, 'email').hiddenInput().label(false) | raw }}
        {{ form.field(mailingListModel, 'idFromForm').checkboxList(array.map(currentSubscriptions, 'id', 'name'), {'multiple':true}).label(false) | raw }}
        <input type="submit" value="Отписаться">
    {{ active_form_end() }}
{% endif %}

