
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Subscribe</strong></p>

{% if currentMailingList %}
    <p>Рассылки, на которые вы уже подписаны:</p>
    <ul>
        {% for object in currentMailingList %}
            <li>{{ object.name }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if mailingList %}
    <p>Хотите первыми узнавать о новых товарах, скидках и получать специальные предложения? Отмечайте понравившиеся рассылки!</p>

    {{ use('yii/widgets/ActiveForm') }}
    
    {% set form = active_form_begin({'id': 'join-form', 'action': url.to({0:'newsletter/subscribe-ok'}), method: 'POST'}) %}
        {{ form.field(emailsModel, 'email') | raw }}
        {{ form.field(mailingListModel, 'idFromForm').checkboxList(array.map(mailingList, 'id', 'name'), {'multiple':true}).label(false) | raw }}
        <input type="submit" value="Subscribe" />
    {{ active_form_end() }}
{% endif %}

