
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Unsubscribe</strong></p>

{% if mailingList %}
    <p>Если вы окончательно решили отписаться, выберите рассылку, которую вы хотите исключить и нажмите Отписаться.</p>
    
    {{ use('yii/widgets/ActiveForm') }}
    
    {% set form=active_form_begin({'id':'unsubscribe-form', 'action':url.to({0:'newsletter/unsubscribe-ok'}), 'method':'POST'}) %}
        {{ form.field(emailsModel, 'email').hiddenInput().label(false) | raw }}
        {{ form.field(mailingListModel, 'idFromForm').checkboxList(array.map(mailingList, 'id', 'name'), {'multiple':true}).label(false) | raw }}
        <input type="submit" value="Отписаться">
    {{ active_form_end() }}
{% else %}
    <p>Вы не подписаны ни на одну из рассылок! Может самое время исправит это? <a href="{{ url.to({0:'newsletter/subscribe'}) }}">Посмотреть подписки</a></p>
{% endif %}



