
<p><strong>Comments</strong></p>

{{ use('yii/widgets/ActiveForm') }}

{% set form = active_form_begin({'id': 'comments-form', 'action': url.to({0:'comments/add-comment'}), method: 'POST'}) %}
    {{ form.field(commentsModel, 'text').textarea() | raw }}
    {{ form.field(commentsModel, 'name') | raw }}
    {{ form.field(emailsModel, 'email') | raw }}
    {{ form.field(categoriesModel, 'seocode').hiddenInput({'value':app.request.get(app.params.categoryKey)}).label(false) | raw }}
    {{ form.field(subcategoryModel, 'seocode').hiddenInput({'value':app.request.get(app.params.subCategoryKey)}).label(false) | raw }}
    {{ form.field(productsModel, 'id').hiddenInput({'value':app.request.get(app.params.idKey)}).label(false) | raw }}
    <input type="submit" value="Send" />
{{ active_form_end() }}
