
{{ use('yii/widgets/ActiveForm') }}

{% set form = active_form_begin({'id': 'join-form', 'action': url.to({0:'users/add-user'}), method: 'POST'}) %}
    {{ form.field(emailsModel, 'email') | raw }}
    {{ form.field(usersModel, 'rawPassword').passwordInput() | raw }}
    <p>Хотите первыми узнавать о новых товарах, скидках и получать специальные предложения? Отмечайте понравившиеся рассылки!</p>
    {{ form.field(mailingListForMailingFormModel, 'idFromForm').checkboxList(array.map(mailingListForMailingFormModel.allMailingList, 'id', 'name'), {'multiple':true}).label(false) | raw }}<br>
    <input type="submit" value="Join" />
{{ active_form_end() }}
