
<p><strong>Скачать товары в формате csv</strong></p>

{{ use('yii/widgets/ActiveForm') }}

{% set form=active_form_begin({'id':'download-products-form', 'action':url.to({0:'admin/download-products'}), 'method':'POST'}) %}
    {{ form.field(productsModelFilter, 'id_categories').dropDownList(array.merge({'':'------------------------'}, array.map(categoriesList, 'id', 'name'))) | raw }}
    {{ form.field(productsModelFilter, 'id_subcategory').dropDownList({'':'------------------------'}) | raw }}
    {{ form.field(filtersModel, 'getActive').checkbox() | raw }}
    {{ form.field(filtersModel, 'getNotActive').checkbox() | raw }}
    <input type="submit" value="Download" />
{{ active_form_end() }}
