
<p>Menu</p>

<ul>
    <li><a href="{{ url.to(['products-list/index']) }}">Главная</a></li>
    {% for category in categoriesList %}
        <li><a href="{{ url.to({0:'products-list/index', 'categories': category.seocode}) }}">{{ category.name }}</a>
            {% if category.subcategory %}
                <ul>
                    {% for subcategory in category.subcategory %}
                        <li><a href="{{ url.to({0:'products-list/index', 'categories': category.seocode, 'subcategory': subcategory.seocode}) }}">{{ subcategory.name }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
