
<p><strong>Похожие продукты</strong></p>

<ol>
    {% for productsModel in productsModel.similar %}
        <li>
            {% if productsModel.date %}
                {{ app.formatter.asDate(productsModel.date) }}<br>
            {% endif %}
            <strong><a href="{{ url.to({0:'product-detail/index', 'categories': productsModel.categories, 'subcategory': productsModel.subcategory, 'id': productsModel.id}) }}">{{ productsModel.name }}</a></strong><br>
            {{ (productsModel.price * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }} <br>
        </li>
    {% endfor %}
</ol>

