
{{ use('yii/widgets/ActiveForm') }}

<p>Hello, {{ app.shopUser.emails.email | default(app.params.nonAuthenticatedUserLogin) }}!</p>

{% if not app.shopUser.emails %}
    <p><a href="{{ url.to({0:'/users/add-user'}) }}">Присоедениться</a> <a href="{{ url.to({0:'/users/login-user'}) }}">Войти</a></p>
{% else %}
    {% set form = active_form_begin({'id':'logout-form', 'action':url.to({0:'/users/logout-user'}), 'method':'POST'}) %}
        {{ form.field(usersModelForLogout, 'id').hiddenInput({'value':app.shopUser.id}).label(false) | raw }}
        <input type="submit" value="Выйти">
    {{ active_form_end() }}
    <p><a href="{{ url.to({0:'/users/show-user-account'}) }}">Аккаунт</a></p>
{% endif %}




