
{{ use('yii/widgets/ActiveForm') }}

<p><strong>Here you can update your personal info, contacts and delivery address</strong></p>

{% set form=active_form_begin({'id':'user-update-form', 'action':url.to({0:'users/update-user'}), 'method':'POST'}) %}
    {{ form.field(usersModel, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(usersModel, 'login').hiddenInput().label(false) | raw }}
    {{ form.field(usersModel, 'name') | raw }}
    {{ form.field(usersModel, 'surname') | raw }}
    {{ form.field(emailsModel, 'email') | raw }}
    {{ form.field(phonesModel, 'phone') | raw }}
    {{ form.field(addressModel, 'country') | raw }}
    {{ form.field(addressModel, 'city') | raw }}
    {{ form.field(addressModel, 'address') | raw }}
    {{ form.field(addressModel, 'postcode') | raw }}
    <input type="submit" value="Update">
{{ active_form_end() }}
