{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('app/widgets/PriceWidget') }}

{% include('@theme/base/user-info.twig') %}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

{% if productsModel %}
    <h1>{{ productsModel.name }}</h1>
    <p>
        {{ app.formatter.asDate(productsModel.date) }}
    </p>
    <p>
        {{ productsModel.description }}
    </p>
    <p><strong>{{ yii.t('base', 'Colors:') }}</strong></p>
    <ul>
        {% for color in array.getColumn(productsModel.colors, 'color') %}
            <li>{{ color }}</li>
        {% endfor %}
    </ul>
    <p><strong>{{ yii.t('base', 'Sizes:') }}</strong></p>
    <ul>
        {% for size in array.getColumn(productsModel.sizes, 'size') %}
            <li>{{ size }}</li>
        {% endfor %}
    </ul>
    {{ price_widget_widget({'price':productsModel.price}) }}
    <p>
        <strong>{{ yii.t('base', 'Code:') }}</strong> {{ productsModel.code }}
    </p>
{% endif %}
