{{ register_asset_bundle('app/assets/MainAsset') }}

{% include('@theme/base/user-info.twig') %}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

{% if productsModel %}
    <h1>{{ productsModel.name }}</h1>
    <p>
        {{ app.formatter.asDate(productsModel.date) }}
    </p>
    <p>
        {{ productsModel.description }}
    </p>
    <p><strong>{{ yii.t('base', 'Colors:') }}</strong></p>
    <ul>
        {% for color in array.getColumn(productsModel.colors, 'color') %}
            <li>{{ color }}</li>
        {% endfor %}
    </ul>
{% endif %}
