{{ register_asset_bundle('app/assets/ProductDetailAsset') }}

{{ use('app/widgets/PriceWidget') }}
{{ use('app/widgets/CartWidget') }}
{{ use('app/widgets/ImagesWidget') }}
{{ use('app/widgets/CategoriesMenuWidget') }}
{{ use('app/widgets/ProductBreadcrumbsWidget') }}
{{ use('app/widgets/SeeAlsoWidget') }}
{{ use('app/widgets/UserInfoWidget') }}
{{ use('app/widgets/SearchWidget') }}

{{ user_info_widget_widget() }}

{{ cart_widget_widget() }}

{{ search_widget_widget() }}

{{ categories_menu_widget_widget() }}

{{ product_breadcrumbs_widget_widget({'model':product}) }}

{% if product %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    {% if product.images %}
        <br>{{ images_widget_widget({'path':product.images}) }}
    {% endif %}
    <p><strong>{{ yii.t('base', 'Colors:') }}</strong></p>
    <ul>
        {% for color in array.getColumn(product.colors, 'color') %}
            <li>{{ color }}</li>
        {% endfor %}
    </ul>
    <p><strong>{{ yii.t('base', 'Sizes:') }}</strong></p>
    <ul>
        {% for size in array.getColumn(product.sizes, 'size') %}
            <li>{{ size }}</li>
        {% endfor %}
    </ul>
    <p><strong>{{ yii.t('base', 'Price:') }}</strong> {{ price_widget_widget({'price':product.price}) }}</p>
    <p><strong>{{ yii.t('base', 'Code:') }}</strong> {{ product.code }}</p>
    
    {% include('add-to-cart-form.twig') %}
    
    {{ see_also_widget_widget({'data':product.similar, 'text':yii.t('base', 'Similar products:')}) }}
    
    {{ see_also_widget_widget({'data':product.related, 'text':yii.t('base', 'Related products:')}) }}
{% endif %}



