{{ register_asset_bundle('app/assets/ProductDetailAsset') }}

{{ use('app/widgets/PriceWidget') }}
{{ use('app/widgets/CartWidget') }}
{{ use('app/widgets/ImagesWidget') }}
{{ use('app/widgets/CategoriesMenuWidget') }}

{% include('@theme/base/user-info.twig') %}

{{ cart_widget_widget() }}

{% include '@theme/base/search.twig' %}

{{ categories_menu_widget_widget() }}

{% include('@theme/base/breadcrumbs.twig') %}

{% if productsModel %}
    <h1>{{ productsModel.name }}</h1>
    <p>
        {{ productsModel.description }}
    </p>
    {% if productsModel.images %}
        <br>{{ images_widget_widget({'path':productsModel.images}) }}
    {% endif %}
    <p><strong>{{ yii.t('base', 'Colors:') }}</strong></p>
    <ul>
        {% for color in array.getColumn(productsModel.colors, 'color') %}
            <li>{{ color }}</li>
        {% endfor %}
    </ul>
    <p><strong>{{ yii.t('base', 'Sizes:') }}</strong></p>
    <ul>
        {% for size in array.getColumn(productsModel.sizes, 'size') %}
            <li>{{ size }}</li>
        {% endfor %}
    </ul>
    <p><strong>{{ yii.t('base', 'Price:') }}</strong> {{ price_widget_widget({'price':productsModel.price}) }}</p>
    <p>
        <strong>{{ yii.t('base', 'Code:') }}</strong> {{ productsModel.code }}
    </p>
    
    {% include('add-to-cart-form.twig') %}
{% endif %}

<p>
    {% include('@theme/base/currency-form.twig') %}
</p>

{% if similarList %}
    <p><strong>{{ yii.t('base', 'Similar products:') }}</strong></p>
    <ul>
        {% for similarModel in similarList %}
            <li>
                <a href="{{ url.to({0:'/product-detail/index', 'product':similarModel.seocode}) }}">{{ similarModel.name }}</a><br/>
                {{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':similarModel.price}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if relatedList %}
    <p><strong>{{ yii.t('base', 'Related products:') }}</strong></p>
    <ul>
        {% for relatedModel in relatedList %}
            <li>
                <a href="{{ url.to({0:'/product-detail/index', 'product':relatedModel.seocode}) }}">{{ relatedModel.name }}</a><br/>
                {{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':relatedModel.price}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}



