{{ register_asset_bundle('app/assets/ProductDetailAsset') }}

{{ use('app/widgets/PriceWidget') }}
{{ use('app/widgets/CartWidget') }}
{{ use('app/widgets/ImagesWidget') }}
{{ use('app/widgets/CategoriesMenuWidget') }}

{% include('@theme/base/user-info.twig') %}

{{ cart_widget_widget() }}

{% include '@theme/base/search.twig' %}

{{ categories_menu_widget_widget() }}

{% include('@theme/base/breadcrumbs.twig') %}

{% if product %}
    <h1>{{ product.name }}</h1>
    <p>
        {{ product.description }}
    </p>
    {% if product.images %}
        <br>{{ images_widget_widget({'path':product.images}) }}
    {% endif %}
    <p><strong>{{ yii.t('base', 'Colors:') }}</strong></p>
    <ul>
        {% for color in array.getColumn(product.colors, 'color') %}
            <li>{{ color }}</li>
        {% endfor %}
    </ul>
    <p><strong>{{ yii.t('base', 'Sizes:') }}</strong></p>
    <ul>
        {% for size in array.getColumn(product.sizes, 'size') %}
            <li>{{ size }}</li>
        {% endfor %}
    </ul>
    <p><strong>{{ yii.t('base', 'Price:') }}</strong> {{ price_widget_widget({'price':product.price}) }}</p>
    <p>
        <strong>{{ yii.t('base', 'Code:') }}</strong> {{ product.code }}
    </p>
    
    {% include('add-to-cart-form.twig') %}
{% endif %}

{% set similar=product.similar %}
{% if similar %}
    <p><strong>{{ yii.t('base', 'Similar products:') }}</strong></p>
    <ul>
        {% for similar in similar %}
            <li>
                <a href="{{ url.to({0:'/product-detail/index', 'id':similar.seocode}) }}">{{ similar.name }}</a><br/>
                {{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':similar.price}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% set related=product.related %}
{% if related %}
    <p><strong>{{ yii.t('base', 'Related products:') }}</strong></p>
    <ul>
        {% for related in related %}
            <li>
                <a href="{{ url.to({0:'/product-detail/index', 'id':related.seocode}) }}">{{ related.name }}</a><br/>
                {{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':related.price}) }}
            </li>
        {% endfor %}
    </ul>
{% endif %}



