{% if purchases %}
    <p><strong>{{ header }}</strong></p>
    
    <ol class="account-last-orders">
        {% for purchase in purchases %}
            <li>
                <a href="{{ purchase.link }}">{{ purchase.linkText }}</a>
                <br>{{ purchase.short_description }}
                <br>{{ purchase.image | raw }}
                <br>{{ idHeader }}: {{ purchase.id }}
                <br>{{ dateHeader }}: {{ purchase.date }}
                <br>{{ colorHeader }}: {{ purchase.color }}
                <br>{{ sizeHeader }}: {{ purchase.size }}
                <br>{{ quantityHeader }}: {{ purchase.quantity }}
                <br>{{ priceHeader }}: {{ purchase.price }}
                <br>{{ totalPriceHeader }}: {{ purchase.totalPrice }}
                <br>{{ statusHeader }}: {{ purchase.status }}
            </li>
        {% endfor %}
    </ol>
{% endif %}
