{% if purchases %}
    <p><strong>{{ header }}</strong></p>
    
    <ol class="account-last-orders">
        {% for order in purchases %}
            <li>
                <a href="{{ order.link }}">{{ order.linkText }}</a>
                <br>{{ order.short_description }}
                <br>{{ order.image | raw }}
                <br>{{ idHeader }}: {{ order.id }}
                <br>{{ dateHeader }}: {{ order.date }}
                <br>{{ colorHeader }}: {{ order.color }}
                <br>{{ sizeHeader }}: {{ order.size }}
                <br>{{ quantityHeader }}: {{ order.quantity }}
                <br>{{ priceHeader }}: {{ order.price }}
                <br>{{ totalPriceHeader }}: {{ order.totalPrice }}
                <br>{{ statusHeader }}: {{ order.status }}
            </li>
        {% endfor %}
    </ol>
{% endif %}
