<p><strong>{{ userHeader }}</strong></p>

<div class="account-user-info">
<p>
    {% if user.email %}
        {{ user.emailHeader }}: {{ user.email }}<br>
    {% endif %}
    
    {% if user.name %}
        {{ user.nameHeader }}: {{ user.name }}<br>
    {% endif %}
    
    {% if user.surname %}
        {{ user.surnameHeader }}: {{ user.surname }}<br>
    {% endif %}
    
    {% if user.phone %}
        {{ user.phoneHeader }}: {{ user.phone }}<br>
    {% endif %}
    
    {% if user.address %}
        {{ user.addressHeader }}: {{ user.address }}<br>
    {% endif %}
    
    {% if user.city %}
        {{ user.cityHeader }}: {{ user.city }}<br>
    {% endif %}
    
    {% if user.country %}
        {{ user.countryHeader }}: {{ user.country }}<br>
    {% endif %}
    
    {% if user.postcode %}
        {{ user.postcodeHeader }}: {{ user.postcode }}<br>
    {% endif %}
</p>
</div>

{% if purchases %}
    <p><strong>{{ userOrders }}</strong></p>
    
    <ol class="account-last-orders">
        {% for purchase in purchases %}
            <li>
                <a href="{{ purchase.link }}">{{ purchase.linkText }}</a>
                <br>{{ purchase.short_description }}
                <br>{{ purchase.image | raw }}
                <br>{{ colorHeader }}: {{ purchase.color }}
                <br>{{ sizeHeader }}: {{ purchase.size }}
                <br>{{ quantityHeader }}: {{ purchase.quantity }}
                <br>{{ priceHeader }}: {{ purchase.price }}
                <br>{{ statusHeader }}: {{ purchase.status }}
            </li>
        {% endfor %}
    </ol>
{% endif %}

{% if mailings %}
    <p><strong>{{ userMailings }}</strong></p>
    
    <ol>
        {% for mailing in mailings %}
            <li>
                {{ mailing.name }}
                <br>{{ mailing.description }}
            </li>
    {% endfor %}
    </ol>
{% endif %}
