{{ use('yii/widgets/ActiveForm') }}

<p><strong>{{ header }}</strong></p>

{% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
    {{ form.field(formModel, 'name') | raw }}
    {{ form.field(formModel, 'seocode') | raw }}
    {{ form.field(formModel, 'active').checkbox() | raw }}
    <input type="submit" value="{{ button }}">
{{ active_form_end() }}
