{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<div class="admin-order-previous-data">
    <a href="{{ link }}">{{ linkText }}</a>
    <br>{{ short_description }}
    <br>{{ image | raw }}
    <br>{{ idHeader }}: {{ id }}
    <br>{{ dateHeader }}: {{ date }}
    <br>{{ colorHeader }}: {{ color }}
    <br>{{ sizeHeader }}: {{ size }}
    <br>{{ quantityHeader }}: {{ quantity }}
    <br>{{ priceHeader }}: {{ price }}
    <br>{{ totalPriceHeader }}: {{ totalPrice }}
    
    <br>{{ clientHeader }}: {{ client }}
    <br>{{ phoneHeader }}: {{ phone }}
    <br>{{ addressHeader }}: {{ address }}
    <br>{{ cityHeader }}: {{ city }}
    <br>{{ countryHeader }}: {{ country }}
    <br>{{ postcodeHeader }}: {{ postcode }}
    <br>{{ paymentHeader }}: {{ payment }}
    <br>{{ deliveryHeader }}: {{ delivery }}
    <br>{{ statusHeader }}: {{ status }}
    
    {{ form.form(modelForm, formSettings, formId, formAction, id, button) }}
</div>
