{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for delivery in deliveries %}
        <li>
        <div class="admin-delivery-previous-data">
            {{nameHeader}}: {{ delivery.name }}
            <br>{{descriptionHeader}}: {{ delivery.description }}
            <br>{{priceHeader}}: {{ delivery.price }}
            <br>{{ activeHeader }}: {{ delivery.active }}
            
            {{ form.form(modelForm, formSettings, delivery.formIdChange, formActionChange, delivery.id, buttonChange) }}
            
            {{ form.form(modelForm, formSettings, delivery.formIdDelete, formActionDelete, delivery.id, buttonDelete) }}
        </div>
        </li>
    {% endfor %}
</ul>

