{{ use('yii/widgets/ActiveForm') }}

<p><strong>{{ header }}</strong></p>

<div class="account-change-data-success"></div>

{% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
    {{ form.field(modelForm, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(modelForm, 'name') | raw }}
    {{ form.field(modelForm, 'surname') | raw }}
    {{ form.field(modelForm, 'phone') | raw }}
    {{ form.field(modelForm, 'address') | raw }}
    {{ form.field(modelForm, 'city') | raw }}
    {{ form.field(modelForm, 'country') | raw }}
    {{ form.field(modelForm, 'postcode') | raw }}
    <input type="submit" value="{{ button }}">
{{ active_form_end() }}
