{{ use('yii/widgets/ActiveForm') }}

<p><strong>{{ header }}</strong></p>

{% if products %}
    <ol class="{{ listClass }}">
        {% for product in products %}
            <li>
                <div class="admin-product-previous-data">
                    <a href="{{ product.link }}">{{ product.linkText }}</a>
                    <br>{{ shortDescriptionHeader }}:  {{ product.short_description }}
                    <br>{{ product.image | raw }}
                    <br>{{ idHeader }}: {{ product.id }}
                    <br>{{ dateHeader }}: {{ product.date }}
                    <br>{{ codeHeader }}: {{ product.code }}
                    <br>{{ descriptionHeader }}: {{ product.description }}
                    <br>{{ priceHeader }}: {{ product.price }}
                    <br>{{ colorsHeader }}: {{ product.colors }}
                    <br>{{ sizesHeader }}: {{ product.sizes }}
                    <br>{{ categoryHeader }}: {{ product.category }}
                    <br>{{ subcategoryHeader }}: {{ product.subcategory }}
                    <br>{{ brandHeader }}: {{ product.brand }}
                    <br>{{ activeHeader }}: {{ product.active }}
                    <br>{{ totalProductsHeader }}: {{ product.total_products }}
                    <br>{{ seocodeHeader }}: {{ product.seocode }}
                    <br>{{ viewsHeader }}: {{ product.views }}
                    
                    {% set form=active_form_begin({'id':product.formId, 'enableAjaxValidation':product.ajaxValidation, 'validateOnSubmit':product.validateOnSubmit, 'validateOnChange':product.validateOnChange, 'validateOnBlur':product.validateOnBlur, 'validateOnType':product.validateOnType, 'action':product.formAction, 'method':'POST'}) %}
                        {{ form.field(product.modelForm, 'id').hiddenInput().label(false) | raw }}
                        <input type="submit" value="{{ product.button }}">
                    {{ active_form_end() }}
                    
                    {% set form=active_form_begin({'id':product.formIdDelete, 'enableAjaxValidation':product.ajaxValidation, 'validateOnSubmit':product.validateOnSubmit, 'validateOnChange':product.validateOnChange, 'validateOnBlur':product.validateOnBlur, 'validateOnType':product.validateOnType, 'action':product.formActionDelete, 'method':'POST'}) %}
                        {{ form.field(product.modelForm, 'id').hiddenInput().label(false) | raw }}
                        <input type="submit" value="{{ product.buttonDelete }}">
                    {{ active_form_end() }}
                </div>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>{{ productsEmpty }}</p>
{% endif %}
