{{ use('yii/widgets/ActiveForm') }}

<div class="admin-product-change-form"><p>
    {% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
        {{ form.field(modelForm, 'id').hiddenInput().label(false) | raw }}
        {{ form.field(modelForm, 'code') | raw }}
        {{ form.field(modelForm, 'name') | raw }}
        {{ form.field(modelForm, 'short_description').textarea({'rows':rows, 'cols':cols}) | raw }}
        {{ form.field(modelForm, 'description').textarea({'rows':rows, 'cols':cols}) | raw }}
        {{ form.field(modelForm, 'price').input('number', {'step':0.01, 'min':0}) | raw }}
        <br>{{ images | raw }}
        {{ form.field(modelForm, 'images[]').fileInput({'accept':'image/*', 'multiple':true}) | raw }}
        {{ form.field(modelForm, 'id_category').dropDownList(categories, {'data-href':categoriesHref}) | raw }}
        {{ form.field(modelForm, 'id_subcategory').dropDownList(subcategory) | raw }}
        {{ form.field(modelForm, 'id_colors').dropDownList(colors, {'multiple':true}) | raw }}
        {{ form.field(modelForm, 'id_sizes').dropDownList(sizes, {'multiple':true}) | raw }}
        {{ form.field(modelForm, 'id_brand').dropDownList(brands) | raw }}
        {{ form.field(modelForm, 'active').checkbox() | raw }}
        {{ form.field(modelForm, 'total_products').input('number', {'step':1, 'min':0}) | raw }}
        {{ form.field(modelForm, 'seocode') | raw }}
        {{ form.field(modelForm, 'views').input('number', {'step':1, 'min':0}) | raw }}
        {{ form.field(modelForm, 'related') | raw }}
        
        <input type="submit" name="send" value="{{ button }}">
        <input type="submit" name="cancel" value="{{ buttonCancel }}">
    {{ active_form_end() }}
</p></div>
