{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for mailing in mailings %}
        <li>
        <div class="admin-mailing-previous-data">
            {{nameHeader}}: {{ mailing.name }}
            <br>{{descriptionHeader}}: {{ mailing.description }}
            <br>{{ activeHeader }}: {{ mailing.active }}
            
            {{ form.form(modelForm, formSettings, mailing.formIdChange, formActionChange, mailing.id, buttonChange) }}
            
            {{ form.form(modelForm, formSettings, mailing.formIdDelete, formActionDelete, mailing.id, buttonDelete) }}
        </div>
        </li>
    {% endfor %}
</ul>

