{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<div class="admin-delivery-previous-data">
    {{nameHeader}}: {{ name }}
    <br>{{descriptionHeader}}: {{ description }}
    <br>{{priceHeader}}: {{ price }}
    <br>{{ activeHeader }}: {{ active }}
    
    {{ form.form(modelForm, formSettings, formIdChange, formActionChange, id, buttonChange) }}
    
    {{ form.form(modelForm, formSettings, formIdDelete, formActionDelete, id, buttonDelete) }}
</div>

