{{ use('yii/widgets/ActiveForm') }}

<div class="admin-comment-previous-data">
    <a href="{{ commentHref }}">{{ commentName }}</a>
    <br>{{ idHeader }}: {{ id }}
    <br>{{ dateHeader }}: {{ date }}
    <br>{{ nameHeader }}: {{ name }}
    <br>{{ emailHeader }}: {{ email }}
    <br>{{ textHeader }}: {{ text }}
    <br>{{ activeHeader }}: {{ active }}
    
    {% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
        {{ form.field(modelForm, 'id').hiddenInput().label(false) | raw }}
        <input type="submit" value="{{ button }}">
    {{ active_form_end() }}
    
    {% set form=active_form_begin({'id':formIdDelete, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formActionDelete, 'method':'POST'}) %}
        {{ form.field(modelForm, 'id').hiddenInput().label(false) | raw }}
        <input type="submit" value="{{ buttonDelete }}">
    {{ active_form_end() }}
</div>
