{{ use('yii/widgets/ActiveForm') }}

<div class="admin-product-previous-data">
    <a href="{{ link }}">{{ linkText }}</a>
    <br>{{ shortDescriptionHeader }}:  {{ short_description }}
    <br>{{ image | raw }}
    <br>{{ idHeader }}: {{ id }}
    <br>{{ dateHeader }}: {{ date }}
    <br>{{ codeHeader }}: {{ code }}
    <br>{{ descriptionHeader }}: {{ description }}
    <br>{{ priceHeader }}: {{ price }}
    <br>{{ colorsHeader }}: {{ colors }}
    <br>{{ sizesHeader }}: {{ sizes }}
    <br>{{ categoryHeader }}: {{ category }}
    <br>{{ subcategoryHeader }}: {{ subcategory }}
    <br>{{ brandHeader }}: {{ brand }}
    <br>{{ activeHeader }}: {{ active }}
    <br>{{ totalProductsHeader }}: {{ total_products }}
    <br>{{ seocodeHeader }}: {{ seocode }}
    <br>{{ viewsHeader }}: {{ views }}
    
    {% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
        {{ form.field(modelForm, 'id').hiddenInput().label(false) | raw }}
        <input type="submit" value="{{ button }}">
    {{ active_form_end() }}
</div>

