{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for payment in payments %}
        <li>
        <div class="admin-payment-previous-data">
            {{nameHeader}}: {{ payment.name }}
            <br>{{descriptionHeader}}: {{ payment.description }}
            <br>{{ activeHeader }}: {{ payment.active }}
            
            {{ form.form(modelForm, formSettings, payment.formIdChange, formActionChange, payment.id, buttonChange) }}
            
            {{ form.form(modelForm, formSettings, payment.formIdDelete, formActionDelete, payment.id, buttonDelete) }}
        </div>
        </li>
    {% endfor %}
</ul>

