<p><strong>{{ header }}</strong></p>

{% if purchases %}
    <ol class="account-last-orders">
        {% for order in purchases %}
            <li>
                <a href="{{ order.link }}">{{ order.linkText }}</a>
                <br>{{ order.image | raw }}
                <br>{{ idHeader }}: {{ order.id }}
                <br>{{ statusHeader }}: {{ order.status }}
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>{{ purchasesEmpty }}</p>
{% endif %}
