{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as formDelete %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for currency in currencyArray %}
        <li>
            {{ codeHeader }}: {{ currency.code }}
            <br>{{ exchangeHeader }}: {{ currency.exchange_rate }}
            {% if currency.base %}
                <br>{{ currency.base }}
            {% endif %}
            
            {% if not currency.main %}
                {% set form=active_form_begin({'id':currency.formIdBaseChange, 'enableAjaxValidation':formSettings.ajaxValidation, 'validateOnSubmit':formSettings.validateOnSubmit, 'validateOnChange':formSettings.validateOnChange, 'validateOnBlur':formSettings.validateOnBlur, 'validateOnType':formSettings.validateOnType, 'action':formActionBaseChange, 'method':'POST'}) %}
                    {{ form.field(modelForm, 'id').hiddenInput({'value':currency.id}).label(false) | raw }}
                    {{ form.field(modelForm, 'main').checkbox() | raw }}
                {{ active_form_end() }}
            {% endif %}
            
            {{ formDelete.form(modelForm, formSettings, currency.formIdDelete, formActionDelete, currency.id, button) }}
        </li>
    {% endfor %}
</ul>

