{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

{% if comments %}
    <ol class="{{ listClass }}">
        {% for comment in comments %}
            <li>
                <div class="admin-comment-previous-data">
                    <a href="{{ comment.commentHref }}">{{ comment.commentName }}</a>
                    <br>{{ idHeader }}: {{ comment.id }}
                    <br>{{ dateHeader }}: {{ comment.date }}
                    <br>{{ nameHeader }}: {{ comment.name }}
                    <br>{{ emailHeader }}: {{ comment.email }}
                    <br>{{ textHeader }}: {{ comment.text }}
                    <br>{{ activeHeader }}: {{ comment.active }}
                    
                    {{ form.form(modelForm, formSettings, comment.formId, formAction, comment.id, button) }}
                    {{ form.form(modelForm, formSettings, comment.formIdDelete, formActionDelete, comment.id, buttonDelete) }}
                </div>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>{{ commentsEmpty }}</p>
{% endif %}
