{{ use('yii/widgets/ActiveForm') }}

{% if mailings %}
    <p><strong>{{ header }}</strong></p>
    
    <ol>
        {% for mailing in mailings %}
            <li class="{{ mailing.formId }}">
                {{ mailing.name }}
                <br>{{ mailing.description }}
                
                {% set form=active_form_begin({'id':mailing.formId, 'enableAjaxValidation':mailing.ajaxValidation, 'validateOnSubmit':mailing.validateOnSubmit, 'validateOnChange':mailing.validateOnChange, 'validateOnBlur':mailing.validateOnBlur, 'validateOnType':mailing.validateOnType, 'action':mailing.formAction, 'method':'POST'}) %}
                    {{ form.field(mailing.modelForm, 'id_user').hiddenInput().label(false) | raw }}
                    {{ form.field(mailing.modelForm, 'id').hiddenInput().label(false) | raw }}
                    <input type="submit" value="{{ mailing.button }}">
                {{ active_form_end() }}
            </li>
        {% endfor %}
    </ol>
{% endif %}
