<p><strong>{{ header }}</strong></p>

{% if purchases %}
    <ol class="account-last-orders">
        {% for purchase in purchases %}
            <li>
                <a href="{{ purchase.link }}">{{ purchase.linkText }}</a>
                <br>{{ purchase.image | raw }}
                <br>{{ idHeader }}: {{ purchase.id }}
                <br>{{ statusHeader }}: {{ purchase.status }}
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>{{ purchasesEmpty }}</p>
{% endif %}
