{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<p><strong>{{ header }}</strong></p>

{% if products %}
    <ol class="{{ listClass }}">
        {% for product in products %}
            <li>
                <div class="admin-product-previous-data">
                    <a href="{{ product.link }}">{{ product.linkText }}</a>
                    <br>{{ shortDescriptionHeader }}:  {{ product.short_description }}
                    <br>{{ product.image | raw }}
                    <br>{{ idHeader }}: {{ product.id }}
                    <br>{{ dateHeader }}: {{ product.date }}
                    <br>{{ codeHeader }}: {{ product.code }}
                    <br>{{ descriptionHeader }}: {{ product.description }}
                    <br>{{ priceHeader }}: {{ product.price }}
                    <br>{{ colorsHeader }}: {{ product.colors }}
                    <br>{{ sizesHeader }}: {{ product.sizes }}
                    <br>{{ categoryHeader }}: {{ product.category }}
                    <br>{{ subcategoryHeader }}: {{ product.subcategory }}
                    <br>{{ brandHeader }}: {{ product.brand }}
                    <br>{{ activeHeader }}: {{ product.active }}
                    <br>{{ totalProductsHeader }}: {{ product.total_products }}
                    <br>{{ seocodeHeader }}: {{ product.seocode }}
                    <br>{{ viewsHeader }}: {{ product.views }}
                    {% if product.related %}
                        <br>{{ relatedHeader }}: {{ product.related }}
                    {% endif %}
                    
                    {{ form.form(modelForm, formSettings, product.formIdChange, formActionChange, product.id, buttonChange) }}
                    
                    {{ form.form(modelForm, formSettings, product.formIdDelete, formActionDelete, product.id, buttonDelete) }}
                </div>
            </li>
        {% endfor %}
    </ol>
{% else %}
    <p>{{ productsEmpty }}</p>
{% endif %}
