{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<div class="admin-product-previous-data">
    <a href="{{ link }}">{{ linkText }}</a>
    <br>{{ shortDescriptionHeader }}:  {{ short_description }}
    <br>{{ image | raw }}
    <br>{{ idHeader }}: {{ id }}
    <br>{{ dateHeader }}: {{ date }}
    <br>{{ codeHeader }}: {{ code }}
    <br>{{ descriptionHeader }}: {{ description }}
    <br>{{ priceHeader }}: {{ price }}
    <br>{{ colorsHeader }}: {{ colors }}
    <br>{{ sizesHeader }}: {{ sizes }}
    <br>{{ categoryHeader }}: {{ category }}
    <br>{{ subcategoryHeader }}: {{ subcategory }}
    <br>{{ brandHeader }}: {{ brand }}
    <br>{{ activeHeader }}: {{ active }}
    <br>{{ totalProductsHeader }}: {{ total_products }}
    <br>{{ seocodeHeader }}: {{ seocode }}
    <br>{{ viewsHeader }}: {{ views }}
    {% if related %}
        <br>{{ relatedHeader }}: {{ related }}
    {% endif %}
    
    {{ form.form(modelForm, formSettings, formIdChange, formActionChange, id, buttonChange) }}
    
    {{ form.form(modelForm, formSettings, formIdDelete, formActionDelete, id, buttonDelete) }}
</div>

