{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<div class="admin-comment-previous-data">
    <a href="{{ commentHref }}">{{ commentName }}</a>
    <br>{{ idHeader }}: {{ id }}
    <br>{{ dateHeader }}: {{ date }}
    <br>{{ nameHeader }}: {{ name }}
    <br>{{ emailHeader }}: {{ email }}
    <br>{{ textHeader }}: {{ text }}
    <br>{{ activeHeader }}: {{ active }}
    
    {{ form.form(modelForm, formSettings, formId, formAction, id, button) }}
    {{ form.form(modelForm, formSettings, formIdDelete, formActionDelete, id, buttonDelete) }}
</div>
