{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as hiddenIdForm %}
{% import '@app/widgets/views/macro/hidden-id-activecheckbox-form.twig' as hiddenIdActiveForm %}

<p><strong>{{ header }}</strong></p>

<ul>
    {% for category in categories %}
        <li>
            {{ category.name }}
            {{ hiddenIdActiveForm.form(categoryForm, formSettings, category.formIdChange, categoryFormActionChange, category.id, category.active) }}
            {{ hiddenIdForm.form(categoryForm, formSettings, category.formIdDelete, categoryFormActionDelete, category.id, buttonDelete) }}
            
            {% if category.subcategory %}
                <ul>
                    {% for subcategory in category.subcategory %}
                        <li>
                            {{ subcategory.name }}
                            {{ hiddenIdActiveForm.form(subcategoryForm, formSettings, subcategory.formIdChange, subcategoryFormActionChange, subcategory.id, subcategory.active) }}
                            {{ hiddenIdForm.form(subcategoryForm, formSettings, subcategory.formIdDelete, subcategoryFormActionDelete, subcategory.id, buttonDelete) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>

