<div class="calendar">
    <table border="1">
        <tr>
            <th>
                <a href="{{ calendarHref }}" data-timestamp="{{ prevTimestamp }}" class="calendar-href-prev"><<</a>
            </th>
            <th colspan="5">
                {{ header }}
            </th>
            <th>
                <a href="{{ calendarHref }}" data-timestamp="{{ nextTimestamp }}" class="calendar-href-next">>></a>
            </th>
        </tr>
        <tr>
            {% for dayName in dayNames %}
                <td>{{ dayName }}</td>
            {% endfor %}
        </tr>
        {% for week in month %}
            <tr>
                {% for day in week %}
                    <td data-timestamp="{{ day.timestamp }}" data-format="{{ day.format }}">{{ day.number }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
