<nav id="categories-menu-container">
    <ul class="categories-menu">
        {% for category in categoriesArray %}
            {% if category.link %}
                <li><a href="{{ category.link }}" class="all-catalog">{{ category.name }}</a>
            {% else %}
                <li><span class="category-button">{{ category.name }}</span>{% if category.subcategoryArray %}<span class="menu-marker">&rsaquo;</span>{% endif %}
            {% endif %}
                {% if category.subcategoryArray %}
                    <ul class="subcategory-menu disable">
                        {% for subcategory in category.subcategoryArray %}
                            <li><a href="{{ subcategory.link }}"{% if subcategory.active %} class="active"{% endif %}>{{ subcategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        <li><span class="category-button filters-visible">Фильтры</span><span class="menu-marker">&rsaquo;</span></li>
    </ul>
</nav>
