{{ use('yii/widgets/ActiveForm') }}

<div id="currency">
    <p><strong>{{ header }}</strong></p>
    
    <div  id="currency-form">
        {% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
            {{ form.field(formModel, 'id').dropDownList(currency) | raw }}
            {{ form.field(formModel, 'url').hiddenInput().label(false) | raw }}
            <input type="submit" value="{{ button }}">
        {{ active_form_end() }}
    </div>
</div>
