<h1>{{ header }}</h1>

<p>{{ text }}</p>

<ol>
{% for mailing in mailings %}
    <li>
        <strong>{{ mailing.name }}</strong>
        <br>{{ mailing.description }}
    </li>
{% endfor %}
</ol>

<p>{{ unsubscribeText }} <a href="{{ unsubscribeHref }}">{{ unsubscribeHref }}</a></p>
