{% import '@app/widgets/views/macro/mailings-list.twig' as list %}

<h1>{{ header }}</h1>

{{ list.list(text, mailings) }}

<p>{{ unsubscribeText }} <a href="{{ unsubscribeHref }}">{{ unsubscribeHref }}</a></p>
