{{ use('yii/widgets/ActiveForm') }}

<p><strong>{{ header }}</strong></p>

{% for mailing in mailingsSet %}
    <ol>
        <li>
            <strong>{{ mailing.name }}</strong>
            <br/>{{ mailing.description }}
        </li>
    </ol>
{% endfor %}

<p><strong>{{ headerForm }}</strong></p>

{% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
    {{ form.field(formModel, 'email') | raw }}
    {{ form.field(formModel, 'id').checkboxList(mailings, {'multiple':multiple}).label(false) | raw }}
    <input type="submit" value="{{ button }}">
{{ active_form_end() }}
