{{ use('yii/widgets/ActiveForm') }}

<p><strong>{{ header }}</strong></p>

<div class="account-change-password-success"></div>

{% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'validateOnSubmit':validateOnSubmit, 'validateOnChange':validateOnChange, 'validateOnBlur':validateOnBlur, 'validateOnType':validateOnType, 'action':formAction, 'method':'POST'}) %}
    {{ form.field(modelForm, 'id').hiddenInput().label(false) | raw }}
    {{ form.field(modelForm, 'currentPassword').passwordInput() | raw }}
    {{ form.field(modelForm, 'password').passwordInput() | raw }}
    {{ form.field(modelForm, 'password2').passwordInput() | raw }}
    <input type="submit" value="{{ button }}">
{{ active_form_end() }}
