<p><strong>{{ header }}</strong></p>

{% if goods %}
    {% for product in goods %}
        <p>
            <a href="{{ product.link }}">{{ product.linkText }}</a>
            <br>{{ viewsHeader }}: {{ product.views }}
            <br>{{ product.short_description }}
            <br>{{ product.image | raw }}
        </p>
    {% endfor %}
{% else %}
    <p>{{ goodsEmpty }}</p>
{% endif %}
