{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-url-form.twig' as formClean %}

<div id="products-filters">
    <div class="filters-group">
        <ul class="products-filters-sorting-field" data-form-item="filtersform-sortingfield">
            <li><span class="products-filters-header first">Сортировать</span></li>
            {% for key,value in sortingFields %}
                <li data-id="{{ key }}"><span class="products-filters-item">{{ value | raw }}</span></li>
            {% endfor %}
        </ul>
        
        <ul class="products-filters-colors" data-form-item="filtersform-colors">
            <li><span class="products-filters-header">Цвета</span></li>
            {% for color in colors %}
                <li data-id="{{ color.id }}"><span class="color-hex" style="background-color:{{ color.hexcolor }}"></span><span class="products-filters-item">{{ color.color }}</span></li>
            {% endfor %}
        </ul>
        
        <ul class="products-filters-sizes" data-form-item="filtersform-sizes">
            <li><span class="products-filters-header">Размеры</span></li>
            {% for key,value in sizes %}
                <li data-id="{{ key }}"><span class="products-filters-item">{{ value }}</span></li>
            {% endfor %}
        </ul>
        
        <ul class="products-filters-buttons">
            <li><span id="filters-apply" class="products-filters-button">Применить</span></li>
            <li><span id="filters-cancel" class="products-filters-button">Сбросить</span></li>
        </ul>
    </div>
    
    <div class="products-filters-form disable">
        {% set form=active_form_begin({'id':formIdApply, 'enableAjaxValidation':formSettings.ajaxValidation, 'validateOnSubmit':formSettings.validateOnSubmit, 'validateOnChange':formSettings.validateOnChange, 'validateOnBlur':formSettings.validateOnBlur, 'validateOnType':formSettings.validateOnType, 'action':formActionApply, 'method':'POST'}) %}
            {{ form.field(modelForm, 'sortingField').dropDownList(sortingFields).label(false) | raw }}
            {{ form.field(modelForm, 'colors').checkboxList(colorsArray) | raw }}
            {{ form.field(modelForm, 'sizes').checkboxList(sizes) | raw }}
            {{ form.field(modelForm, 'url').hiddenInput({'value':url}).label(false) | raw }}
            {{ form.field(modelForm, 'category').hiddenInput().label(false) | raw }}
            {{ form.field(modelForm, 'subcategory').hiddenInput().label(false) | raw }}
        {{ active_form_end() }}
        
        {{ formClean.form(modelForm, formSettings, formIdClean, formActionClean, url, buttonClean) }}
    </div>
</div>
