{{ use('yii/widgets/ActiveForm') }}

<p><strong>{{ header }}</strong></p>

{% set form=active_form_begin({'id':'products-filters-form', 'action':url.to({0:'/filters/set'}), 'method':'POST'}) %}
    {{ form.field(formModel, 'sortingField').dropDownList(sortingFieldsCollection) | raw }}
    {{ form.field(formModel, 'sortingType').dropDownList(sortingTypeCollection) | raw }}
    {{ form.field(formModel, 'colors').checkboxList(colorsCollection) | raw }}
    {{ form.field(formModel, 'sizes').checkboxList(sizesCollection) | raw }}
    {{ form.field(formModel, 'brands').checkboxList(brandsCollection) | raw }}
    {{ form.field(formModel, 'url').hiddenInput().label(false) | raw }}
    <input type="submit" value="{{ yii.t('base', 'Apply') }}">
{{ active_form_end() }}

{% set form = active_form_begin({'id':'products-filters-clean', 'action':url.to({0:'/filters/unset'}), 'method':'POST'}) %}
    {{ form.field(formModel, 'url').hiddenInput().label(false) | raw }}
    <input type="submit" value="{{ yii.t('base', 'Clean') }}">
{{ active_form_end() }}
