<h1>{{ name }}</h1>
<p>{{ description }}</p>
{{ images | raw }}
<p><strong>{{ colorsText }}</strong></p>
<ul>
    {% for color in colors %}
        <li>{{ color }}</li>
    {% endfor %}
</ul>
<p><strong>{{ sizesText }}</strong></p>
<ul>
    {% for size in sizes %}
        <li>{{ size }}</li>
    {% endfor %}
</ul>
<p><strong>{{ priceText }}</strong> {{ price }}</p>
<p><strong>{{ codeText }}</strong> {{ code }}</p>
