<ul class="products-items">
    {% for product in collection %}
        <li class="product-id">
            <a href="{{ product.linkHref }}">{{ product.image | raw }}</a>
            <div class="product-name"><a href="{{ product.linkHref }}" class="product-text-link">{{ product.linkText }}</a>
            <br><span class="price">{{ product.price | raw }}</span></div>
        </li>
    {% endfor %}
</ul>
