<!--<h1>{{ name }}</h1>

<p>{{ description }}</p>
{{ images | raw }}
<p><strong>{{ colorsText }}</strong></p>
<ul>
    {% for color in colors %}
        <li>{{ color }}</li>
    {% endfor %}
</ul>
<p><strong>{{ sizesText }}</strong></p>
<ul>
    {% for size in sizes %}
        <li>{{ size }}</li>
    {% endfor %}
</ul>
<p><strong>{{ priceText }}</strong> {{ price }}</p>
<p><strong>{{ codeText }}</strong> {{ code }}</p>-->

<article id="product-detail">
    <div class="product-detail-right">
        <h1>{{ name }}</h1>
        
        <p class="product-detail-price">{{ price | raw }}</p>
        
        <p class="product-detail-description">{{ description }}</p>
    </div>
    
    <div class="product-detail-left">
        {{ images | raw }}
    </div>
</article>
