<ol id="products-items">
{% for product in collection %}
    <li class="product-id-{{ product.id }}">
        <a href="{{ product.linkHref }}">{{ product.linkText }}</a>
        <br>{{ product.short_description }}
        <br>{{ priceText }}: <span class="price">{{ product.price }}</span>
        <br>{{ product.image | raw }}
    </li>
{% endfor %}
</ol>
