<ol>
{% for product in collection %}
    <li class="product-id-{{ product.id }}">
        {{ product.link | raw }}
        <br>{{ product.short_description }}
        <br>{{ priceText }}: <span class="price">{{ product.price }}</span>
        <br>{{ product.image | raw }}
    </li>
{% endfor %}
</ol>
