<ol class="products-items">
{% for product in collection %}
    <li class="product-id">
        <!--<a href="{{ product.linkHref }}">{{ product.linkText }}</a>
        <br>{{ product.short_description }}
        <br>{{ priceText }}: <span class="price">{{ product.price }}</span>-->
        <a href="{{ product.linkHref }}">{{ product.image | raw }}</a>
    </li>
{% endfor %}
</ol>
