{{ use('yii/widgets/ActiveForm') }}

<p><strong>{{ header }}</strong></p>

{% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'action':formAction, 'method':'POST'}) %}
    {{ form.field(formModel, 'email') | raw }}
    {{ form.field(formModel, 'password').passwordInput() | raw }}
    {{ form.field(formModel, 'password2').passwordInput() | raw }}
    <input type="submit" value="{{ button }}">
{{ active_form_end() }}
