{{ use('yii/widgets/ActiveForm') }}

<div id="search-form">
    {% set form=active_form_begin({'id':formId, 'action':formAction, 'method':'GET'}) %}
        <input type="text" name="{{ fieldName }}" value="{{ text }}" size={{ fieldSize }} placeholder="{{ placeholder }}">
    {{ active_form_end() }}
</div>
