<p><strong>{{ text }}</strong></p>

<ul>
    {% for product in products %}
        <li>
            {{ product.link | raw }}</br>
            {{ product.image | raw }}</br>
            {{ priceText }} {{ product.price }}
        </li>
    {% endfor %}
</ul>
