<p><strong>{{ header }}</strong></p>

<ul>
    {% for product in products %}
        <li>
            <a href="{{ product.linkHref }}">{{ product.linkText }}</a>
            </br>{{ product.image | raw }}
            </br>{{ priceText }}: {{ product.price }}
        </li>
    {% endfor %}
</ul>
