{% set baseText %}
    {{ bagText }}{% if goods %} {{ goods }}{% endif %}<span class="separate">/</span>{{ cost | raw }}
{% endset %}

<div id="short-cart">
    {% if goods %}
        <a href="{{ toCartHref }}">{{ baseText }}</a>
    {% else %}
        {{ baseText }}
    {% endif %}
</div>
