{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/post-button.twig' as formDelete %}

<div class="shortCart">
    <p>{{ goodsText }}</p>
    
    {% if extended %}
        <p><a href="{{ toCartHref }}">{{ toCartText }}</a></p>
        
        {{ formDelete.form(formSettings, formId, formAction, button) }}
    {% endif %}
</div>
