{{ use('yii/widgets/ActiveForm') }}

<div id="cart">
    <p>{{ goodsText }}</p>
    
    {% if extended %}
    <p><a href="{{ toCartHref }}">{{ toCartText }}</a></p>
    
        {% set form=active_form_begin({'id':formId, 'enableAjaxValidation':ajaxValidation, 'action':formAction, 'method':'POST'}) %}
            <input type="submit" value="{{ button }}">
        {{ active_form_end() }}
    {% endif %}
</div>
