{{ use('yii/widgets/ActiveForm') }}

<div class="user-info">
    <p>{{ header }}</p>
    {% if not authenticated %}
        <p><a href="{{ loginHref }}">{{ loginText }}</a> <a href="{{registrationHref }}">{{ registrationText }}</a></p>
    {% else %}
        {% set form=active_form_begin({'id':formId, 'action':formAction, 'method':'POST'}) %}
            <input type="hidden" name="userId" value="{{ userId }}">
            <input type="submit" value="{{ button }}">
        {{ active_form_end() }}
    {% endif %}
</div>
