{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<div class="user-info">
    <p>{{ header }}</p>
    
    {% if isGuest %}
        <p><a href="{{ loginHref }}">{{ loginText }}</a> <a href="{{registrationHref }}">{{ registrationText }}</a></p>
    {% else %}
        {{ form.form(modelForm, formSettings, formId, formAction, id, button) }}
        
        <a href="{{ settingsHref }}">{{ settingsText }}</a>
    {% endif %}
</div>
