{{ use('yii/widgets/ActiveForm') }}
{% import '@app/widgets/views/macro/hidden-id-form.twig' as form %}

<div id="user-info">
    {% if isGuest %}
        <a href="{{ loginHref }}">{{ loginText }}</a><span class="separate">/</span><a href="{{registrationHref }}">{{ registrationText }}</a>
    {% else %}
        <a href="{{ settingsHref }}">{{ email }}</a><span class="separate">/</span><span class="logout">{{ logoutText }}</span>
        
        {{ form.form(modelForm, formSettings, formId, formAction, id, button) }}
    {% endif %}
</div>
