
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>User</strong></p>

    <p>
        Login: {{ usersModel.login }}<br>
        First Name: {{ usersModel.name }}<br>
        Surname: {{ usersModel.surname }}
    </p>
    
    <p>Email: {{usersModel.emails.email }}</p>
    
    <p>Phone: {{usersModel.phones.phone }}</p>

<p><strong>Delivery address</strong></p>

    <p>
        Country: {{usersModel.address.country }}<br>
        City: {{usersModel.address.city }}<br>
        Address: {{usersModel.address.address }}<br>
        {% if usersModel.address.postcode %}
            Postcode: {{usersModel.address.postcode }}<br>
        {% endif %}
    </p>

{% if purchasesList %}
    <p><strong>Purchases</strong></p>
    
        <ol>
            {% for purchase in purchasesList %}
                <li>
                    <a href="{{ url.to({0:'product-detail/index', 'categories':purchase.productsObject.categories, 'subcategory':purchase.productsObject.subcategory, 'id':purchase.productsObject.id}) }}">{{ purchase.productsObject.name }}</a></br>
                    Purchase date: {{ app.formatter.asDate(purchase.received_date, 'dd.MM.yyyy') }}</br>
                    Delivery status: {{ purchase.getDeliveryStatus() }}</br>
                    <img src="{{ picturesHelper.getOneThumbnail('@pic', purchase.productsObject.images) }}"></br>
                    Description: {{ purchase.productsObject.short_description }}</br>
                    Price: {{ (purchase.productsObject.price * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}<br>
                    Quantity: {{ purchase.quantity }}</br>
                    Color: {{ purchase.colorsObject.color }}</br>
                    Size: {{ purchase.sizesObject.size }}</br>
                </li>
            {% endfor %}
        </ol>
{% endif %}


