
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

{% if usersModel.name or usersModel.surname or emailsModel.email or phonesModel.phone %}
    <p><strong>Your current personal info and contacts</strong></p>
{% endif %}

    <p>
        {% if usersModel.name %}
            First Name: {{ usersModel.name }}<br>
        {% endif %}
        {% if usersModel.surname %}
            Surname: {{ usersModel.surname }}<br>
        {% endif %}
        {% if emailsModel.email %}
            Email: {{ emailsModel.email }}<br>
        {% endif %}
        {% if phonesModel.phone  %}
            Phone: {{ phonesModel.phone }}
        {% endif %}
    </p>

{% if addressModel.country or addressModel.city or addressModel.address or addressModel.postcode %}
    <p><strong>Your current delivery address</strong></p>
{% endif %}

    <p>
        {% if addressModel.country %}
            Country: {{ addressModel.country }}<br>
        {% endif %}
        {% if addressModel.city %}
            City: {{ addressModel.city }}<br>
        {% endif %}
        {% if addressModel.address  %}
            Address: {{ addressModel.address }}<br>
        {% endif %}
        {% if addressModel.postcode %}
            Postcode: {{ addressModel.postcode }}<br>
        {% endif %}
    </p>

{% include '@app/views/parts/user-update-form.twig' %}

{% if purchasesList %}
    <p><strong>Your purchases</strong></p>
    
        <ol>
            {% for purchase in purchasesList %}
                <li>
                    <a href="{{ url.to({0:'product-detail/index', 'categories':purchase.productsObject.categories, 'subcategory':purchase.productsObject.subcategory, 'id':purchase.productsObject.id}) }}">{{ purchase.productsObject.name }}</a></br>
                    Purchase date: {{ app.formatter.asDate(purchase.received_date, 'dd.MM.yyyy') }}</br>
                    Delivery status: {{ purchase.getDeliveryStatus() }}</br>
                    <img src="{{ picturesHelper.getOneThumbnail('@pic', purchase.productsObject.images) }}"></br>
                    Description: {{ purchase.productsObject.short_description }}</br>
                    Price: {{ (purchase.productsObject.price * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}<br>
                    Quantity: {{ purchase.quantity }}</br>
                    Color: {{ purchase.colorsObject.color }}</br>
                    Size: {{ purchase.sizesObject.size }}</br>
                    Delivery: {{ purchase.deliveriesObject.description }}</br>
                    Payments: {{ purchase.paymentsObject.description }}</br>
                </li>
            {% endfor %}
        </ol>
{% endif %}


