
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<p><strong>Your current personal info and contacts</strong></p>

    <p>
        First Name: {{ usersModel.name }}<br>
        Surname: {{ usersModel.surname }}<br>
        Email: {{usersModel.emails.email }}<br>
        Phone: {{usersModel.phones.phone }}
    </p>
    
<p><strong>Your current delivery address</strong></p>

    <p>
        Country: {{usersModel.address.country }}<br>
        City: {{usersModel.address.city }}<br>
        Address: {{usersModel.address.address }}<br>
        {% if usersModel.address.postcode %}
            Postcode: {{usersModel.address.postcode }}<br>
        {% endif %}
    </p>

{% include '@app/views/parts/user-update-form.twig' %}

{% if purchasesList %}
    <p><strong>Your purchases</strong></p>
    
        <ol>
            {% for purchase in purchasesList %}
                <li>
                    <a href="{{ url.to({0:'product-detail/index', 'categories':purchase.productsObject.categories, 'subcategory':purchase.productsObject.subcategory, 'id':purchase.productsObject.id}) }}">{{ purchase.productsObject.name }}</a></br>
                    Purchase date: {{ app.formatter.asDate(purchase.received_date, 'dd.MM.yyyy') }}</br>
                    Delivery status: {{ purchase.getDeliveryStatus() }}</br>
                    <img src="{{ picturesHelper.getOneThumbnail('@pic', purchase.productsObject.images) }}"></br>
                    Description: {{ purchase.productsObject.short_description }}</br>
                    Price: {{ (purchase.productsObject.price * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}<br>
                    Quantity: {{ purchase.quantity }}</br>
                    Color: {{ purchase.colorsObject.color }}</br>
                    Size: {{ purchase.sizesObject.size }}</br>
                    Delivery: {{ purchase.deliveriesObject.description }}</br>
                    Payments: {{ purchase.paymentsObject.description }}</br>
                </li>
            {% endfor %}
        </ol>
{% endif %}


