{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('app/widgets/PaginationWidget') }}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

{% if productsList %}
    <ol>
    {% for productsModel in productsList %}
        <li>
            <a href="{{ url.to({0:'product-detail/index', 'category':productsModel.categories.seocode, 'subcategory':productsModel.subcategory.seocode, 'seocode':productsModel.seocode, 'id':productsModel.id}) }}">{{ productsModel.name }}</a>
            <br>{{ app.formatter.asDate(productsModel.date) }}
        </li>
    {% endfor %}
    </ol>
{% endif %}

{{ pagination_widget_widget({'paginator':paginator}) }}
