{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('app/widgets/PaginationWidget') }}
{{ use('app/widgets/PriceWidget') }}
{{ use('app/widgets/ThumbnailsWidget') }}
{{ use('app/widgets/CartWidget') }}

{% include('@theme/base/user-info.twig') %}

{{ cart_widget_widget() }}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

{% if productsList %}
    <ol>
    {% for productsModel in productsList %}
        {% if productsModel.active %}
            <li>
                <a href="{{ url.to({0:'product-detail/index', 'product':productsModel.seocode}) }}">{{ productsModel.name }}</a>
                {% if productsModel.short_description %}
                    <br>{{ productsModel.short_description }}
                {% endif %}
                <br>{{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':productsModel.price}) }}
                {% if productsModel.images %}
                    <br>{{ thumbnails_widget_widget({'path':productsModel.images}) }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}

<p>
    {% include('@theme/base/currency-form.twig') %}
</p>

{% include('filters.twig') %}

{% if paginator %}
    <p>
        {{ pagination_widget_widget({'paginator':paginator}) }}
    </p>
{% endif %}

<p>
    <a href="{{ url.to({0:'mailing/index'}) }}">{{ yii.t('base', 'Subscribe') }}</a>
</p>

<p>
    <a href="{{ url.to({0:'products-manager/add-one'}) }}">{{ yii.t('base', 'Add product') }}</a>
</p>
