{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('app/widgets/PaginationWidget') }}
{{ use('app/widgets/PriceWidget') }}
{{ use('app/widgets/ThumbnailsWidget') }}

{% include('@theme/base/user-info.twig') %}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

{% if productsList %}
    <ol>
    {% for productsModel in productsList %}
        {% if productsModel.active %}
            <li>
                <a href="{{ url.to({0:'product-detail/index', 'product':productsModel.seocode}) }}">{{ productsModel.name }}</a>
                <br>{{ app.formatter.asDate(productsModel.date) }}
                <br>{{ yii.t('base', 'Price:') }} {{ price_widget_widget({'price':productsModel.price}) }}
                {% if productsModel.images %}
                    <br>{{ thumbnails_widget_widget({'path':productsModel.images}) }}
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}

<p>
    {% include('@theme/base/currency-form.twig') %}
</p>

{% include('filters.twig') %}

<p>
    {{ pagination_widget_widget({'paginator':paginator}) }}
</p>

<p>
    <a href="{{ url.to({0:'products-manager/add-one'}) }}">{{ yii.t('base', 'Add product') }}</a>
</p>
