{{ register_asset_bundle('app/assets/MainAsset') }}

{{ use('app/widgets/BreadcrumbsWidget') }}

{{ use('app/widgets/PaginationWidget') }}

{% include('@theme/base/user-info.twig') %}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% if productsList %}
    {{ breadcrumbs_widget_widget({'productsModel':productsList[0]}) }}

    <ol>
    {% for productsModel in productsList %}
        {% if productsModel.active %}
            <li>
                <a href="{{ url.to({0:'product-detail/index', 'product-seocode':productsModel.seocode}) }}">{{ productsModel.name }}</a>
                <br>{{ app.formatter.asDate(productsModel.date) }}
            </li>
        {% endif %}
    {% endfor %}
    </ol>
{% endif %}

{% include('filters.twig') %}

<p>
    {{ pagination_widget_widget({'paginator':paginator}) }}
</p>
