
<h1>{{ yii.t('base', 'Hello! This is information about your subscriptions!') }}</h2>

{% if subscribes %}
    <p>{{ yii.t('base', 'You subscribed to the mailings:') }}</p>
    <ol>
        {% for subscribe in subscribes %}
            <li>{{ subscribe.name }}</li>
        {% endfor %}
    </ol>
    
    <p>{{ yii.t('base', 'Every week you\'ll get reviews of new products, discounts and special offers for subscribers!') }}</p>
    
    <p>{{ yii.t('base', 'If you wish to unsubscribe, click here') }}</p>
{% endif %}
