
{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

<ol>
{% for product in productsList %}
    <li>
        <strong><a href="{{ url.to({0:'product-detail/index', 'categories': product.categories, 'subcategory': product.subcategory, 'id': product.id}) }}">{{ product.name }}</a></strong><br>
        {{ (product.price * app.user.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.user.currency.currency }}<br>
        {{ product.description }}
    </li>
{% endfor %}
</ol>

{% include '@app/views/parts/filters.twig' %}

{% include '@app/views/parts/currency.twig' %}

<p><a href="{{ url.to({0:'products-manager/add-product'}) }}">Add product</a></p>


