
{{ register_asset_bundle('app/assets/MainAsset') }}

{% include '@app/views/parts/user-buttons.twig' %}

{% include '@app/views/parts/short-cart.twig' %}

{% include '@app/views/parts/search.twig' %}

{% include '@app/views/parts/menu.twig' %}

{{ use('app/widgets/BreadcrumbsWidget') }}

{{ breadcrumbs_widget_widget({'categoriesList':categoriesList}) }}

{% if objectsProductsList %}
    <ol>
    {% for product in objectsProductsList %}
        <li>
            {% if product.date %}
                {{ app.formatter.asDate(product.date, 'dd.MM.yyyy') }}<br>
            {% endif %}
            <strong><a href="{{ url.to({0:'product-detail/index', 'categories': product.categories, 'subcategory': product.subcategory, 'id': product.id}) }}">{{ product.name | raw }}</a></strong>
            {% if product.images %}
                <br><img src="{{ picturesHelper.getOneThumbnail('@pic', product.images) }}">
            {% endif %}
            {% if product.short_description %}
                <br>{{ product.short_description }}
            {% endif %}
            <br>{{ (product.price * app.shopUser.currency.exchange_rate) | number_format(2, '.', ' ') }} {{ app.shopUser.currency.currency }}
        </li>
    {% endfor %}
    </ol>
{% else %}
    <p>Похоже, мы пока не можем предложить эту штуку!</p>
{% endif %}

{% include '@app/views/parts/filters.twig' %}

{% include '@app/views/parts/currency.twig' %}

<p><a href="{{ url.to({0:'products-manager/add-product'}) }}">Add product</a></p>


