{{ register_asset_bundle('app/assets/MainAsset') }}

{% include('@theme/base/user-info.twig') %}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

<p><strong>{{ yii.t('base', 'Password restore') }}</strong></p>

{% if sent %}
    <p>{{ yii.t('base', 'Instructions for restoring the password sent to {email}', {'email': emailsModel.email}) }}</p>
{% else %}
    {{ use('yii/widgets/ActiveForm') }}
    
    {% set form = active_form_begin({'id': 'forgot-password-form', 'action': url.to({0: '/user/forgot'}), 'method': 'POST'}) %}
        {{ form.field(emailsModel, 'email') | raw }}
        <input type="submit" value="{{ yii.t('base', 'Send') }}" />
    {{ active_form_end() }}
{% endif %}

