{{ register_asset_bundle('app/assets/UserRegistrationAsset') }}

{{ use('app/widgets/RegistrationBreadcrumbsWidget') }}
{{ use('app/widgets/UserRegistrationWidget') }}

{{ include('@theme/common/frontend-common.twig') }}

{{ registration_breadcrumbs_widget_widget() }}

<div class="registration">{{ user_registration_widget_widget(userRegistrationWidgetConfig) }}</div>

