{{ register_asset_bundle('app/assets/MainAsset') }}

{% include('@theme/base/user-info.twig') %}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

<p><strong>{{ yii.t('base', 'Registration') }}</strong></p>

{% if errorMessage %}
    <p><strong>{{ errorMessage }}</strong></p>
{% endif %}

{{ use('yii/widgets/ActiveForm') }}

{% set form = active_form_begin({'id': 'registration-form', 'action': url.to({0:'user/registration'}), method: 'POST'}) %}
    {{ form.field(emailsModel, 'email') | raw }}
    {{ form.field(usersModel, 'password').passwordInput() | raw }}
    
    {% if mailingListList %}
        <p>{{ yii.t('base', 'Subscribe to the mailing list!') }}</p>
        {{ form.field(mailingListModel, 'id').checkboxList(array.map(mailingListList, 'id', 'name'), {'multiple':true}).label(false) | raw }}<br>
    {% endif %}
    
    <input type="submit" value="{{ yii.t('base', 'Registration') }}" />
{{ active_form_end() }}

