{{ register_asset_bundle('app/assets/MainAsset') }}

{% include('@theme/base/user-info.twig') %}

{% include '@theme/base/search.twig' %}

{% include('@theme/base/menu.twig') %}

{% include('@theme/base/breadcrumbs.twig') %}

<p><strong>{{ yii.t('base', 'Password restore') }}</strong></p>

{% if allow %}
    {{ use('yii/widgets/ActiveForm') }}
    
    {% set form = active_form_begin({'id': 'join-form', 'action': url.to({0:''}), method: 'POST'}) %}
        {{ form.field(usersModel[0], '[0]password').passwordInput().label(yii.t('base', 'New password')) | raw }}
        {{ form.field(usersModel[1], '[1]password').passwordInput().label(yii.t('base', 'Confirm password')) | raw }}
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="key" value="{{ key }}">
        <input type="submit" value="{{ yii.t('base', 'Send') }}" />
    {{ active_form_end() }}
{% elseif complete %}
    <p>{{ yii.t('base', 'Your password was successfully changed!') }}
    <br><a href="{{ url.to({0:'/user/login'}) }}">{{ yii.t('base', 'Login') }}</a></p>
{% else %}
    <p>{{ yii.t('base', 'Unfortunately, the link you\'ve followed is invalid. To solve this problem you can contact the administrator') }}</p>
{% endif %}

